In [1]:
import requests
import pandas as pd

# URL of the PDF download link
pdf_download_url = "https://public.tableau.com/vizql/w/ApplicationsOffersandEntrants/v/About/tempfile/sessions/6F30EC3B50EE4BD7A6B9DEB1195F8056-0:0/?key=3379758271&keepfile=yes&attachment=yes"

# Send a GET request to download the PDF file
response = requests.get(pdf_download_url)

# Save the content of the response to a file with .pdf extension
file_path = "Data/LSE_Students_acceptance_program.pdf"
with open(file_path, "wb") as f:
    f.write(response.content)

In [6]:
import tabula

# Extract the table from the PDF file
tables = tabula.read_pdf(file_path, pages='all', multiple_tables=True)

# Check if any table is extracted
if tables:
    # Save the first table to a CSV file
    csv_file = "Data/acceptance_program.csv"
    tables[0].to_csv(csv_file, index=False)
    print(f"Table saved to {csv_file}")
else:
    print("No table found in the PDF file.")
table_headcount = pd.read_csv('Data/acceptance_program.csv')
table_headcount

Table saved to Data/acceptance_program.csv

,Unnamed: 0,Unnamed: 1,2021/22,Unnamed: 2,Unnamed: 3,2022/23,Unnamed: 4,Unnamed: 5,2023/24,Unnamed: 6
0,Programme.. Programme Name,Apps,Offers,Entra..,Apps,Offers,Entra..,Apps,Offers,Entra..
1,UG Degree BA in Anthropology and Law,249,29,20,326,33,18,302,27,19
2,BA in Geography,359,108,31,361,136,41,402,114,38
3,BA in History,455,154,43,509,231,64,532,217,63
4,BA in Social Anthropology,202,82,24,245,151,42,248,115,31
5,BSc in Accounting and Finance,"1,881",176,115,"1,962",261,112,"1,929",265,116
6,BSc in Actuarial Science,478,124,81,461,136,82,348,112,54
7,BSc in Actuarial Science (with a Placement Year),0,0,0,0,0,0,134,20,12
8,BSc in Data Science,460,47,21,565,60,21,557,68,25
9,BSc in Econometrics and Mathematical Economics,260,0,0,286,0,0,271,0,0
10,BSc in Economic History,352,50,33,359,63,26,379,65,40
11,BSc in Economic History and Geography,80,15,10,85,19,12,132,19,6
12,BSc in Economic History with Economics,17,0,0,*,0,0,0,0,0
13,BSc in Economics,"4,107",335,202,"3,927",437,261,"3,617",372,179
14,BSc in Economics and Economic History,566,39,28,536,48,33,407,46,22
15,BSc in Economics with Economic History,6,0,0,0,0,0,0,0,0
16,BSc in Environment and Development,235,34,17,220,35,15,11,*,0
17,BSc in Environment and Sustainable Development,0,0,0,0,0,0,276,35,16
18,BSc in Environment and Sustainable Development...,0,0,0,0,0,0,253,25,11
19,BSc in Environmental Policy with Economics,158,14,8,209,19,10,6,0,0
20,BSc in Finance,882,91,53,"1,133",151,74,"1,058",123,66
21,BSc in Financial Mathematics and Statistics,414,56,37,467,65,32,422,66,35
22,BSc in Geography with Economics,208,45,25,293,52,26,279,65,29
23,BSc in History and Politics,0,0,0,463,87,30,481,88,36
24,BSc in International Relations,849,100,44,778,158,77,767,141,43
25,BSc in International Relations and Chinese,121,33,17,133,33,13,112,35,13
26,BSc in International Relations and History,280,64,26,251,82,37,256,84,25
27,BSc in International Social and Public Policy,246,39,15,253,51,23,272,79,36
28,BSc in International Social and Public Policy ...,406,33,18,466,56,30,444,18,8
29,BSc in International Social and Public Policy ...,256,29,13,229,52,22,261,40,13
30,"BSc in Language, Culture & Society",193,55,17,181,72,18,195,74,18
31,BSc in Management,"2,303",226,144,"2,243",329,173,"1,994",306,159
32,BSc in Mathematics and Economics,602,106,80,620,114,64,707,96,51
33,BSc in Mathematics with Data Science,0,0,0,0,0,0,366,59,19
34,BSc in Mathematics with Economics,384,79,44,379,85,41,311,60,35
35,"BSc in Mathematics, Statistics and Business",569,78,51,594,93,49,521,87,55
36,BSc in Philosophy and Economics,288,52,33,269,63,37,293,55,17
37,"BSc in Philosophy, Logic and Scientific Method",141,48,19,137,47,22,187,42,12
38,"BSc in Philosophy, Politics and Economics","1,102",107,38,"1,003",164,62,"1,039",140,55
39,BSc in Politics,322,49,32,327,65,31,306,69,25
40,BSc in Politics and Data Science,0,0,0,217,65,22,140,47,13
41,BSc in Politics and Economics,856,81,47,791,105,61,789,113,62
42,BSc in Politics and History,400,52,15,12,0,0,0,0,0
43,BSc in Politics and International Relations,"1,072",78,35,"1,012",87,38,982,78,24
44,BSc in Politics and Philosophy,263,53,24,313,95,31,324,94,38
45,BSc in Psychological and Behavioural Science,670,112,40,788,161,48,762,189,54
46,BSc in Social Anthropology,157,54,16,100,48,13,122,66,17
47,BSc in Sociology,525,112,53,567,123,49,597,98,37
48,LLB in Laws,"2,667",381,171,"2,664",462,188,"2,651",408,162
49,UG General General Course - Accounting,13,12,12,14,11,8,22,21,19
50,Course General Course - Anthropology,*,*,*,10,7,*,7,6,5
51,General Course - Economic History,34,34,26,33,33,28,41,41,41