In [4]:
import pdfplumber
import csv
import pandas as pd
import re

# Function to extract tables from a PDF and write to CSV
def extract_tables_from_pdf(pdf_path, output_csv_path):
    with pdfplumber.open(pdf_path) as pdf:
        all_tables = []
        # Iterate through each page of the PDF
        for page in pdf.pages:
            # Extract tables from the current page
            tables = page.extract_tables()
            for table in tables:
                all_tables.extend(table)  # Add the rows of the table to all_tables list

        # Write all extracted tables to a CSV file
        with open(output_csv_path, 'w', newline='') as csvfile:
            writer = csv.writer(csvfile)
            for row in all_tables:
                writer.writerow(row)

# Process each PDF and extract data

# 2017
pdf_path_2017 = 'Data/2017-18-Fees-Table.pdf'
output_csv_path_2017 = 'Data/2017_Fees'

extract_tables_from_pdf(pdf_path_2017, output_csv_path_2017)

# Load the CSV file containing the tuition fees and program data
output_csv_path_2017 = 'Data/2017_Fees.csv'
csv_path_2017 = 'Data/Florian_Wirtz_eigentlich_noch_was_mit_der_v2.csv'

# Read the CSV files
data_df_one_2017 = pd.read_csv(output_csv_path_2017, error_bad_lines=False, warn_bad_lines=True)
data_df_2017 = pd.read_csv(csv_path_2017)

# Combine 'Department' and 'Program' into a new column for unique combinations
data_df_2017['Dept_Program'] = data_df_2017['Department'] + " " + data_df_2017['Program']

# Get unique combinations
unique_dept_programs_2017 = data_df_2017['Dept_Program'].unique()

# Dictionary to store original to transformed mappings
original_to_transformed_2017 = {}

# Process only Master's programs and adjust department names
processed_dept_programs_2017 = []
for combo in unique_dept_programs_2017:
    if isinstance(combo, str):  # Check if the item is a string
        if "PG Taught" in combo:
            original_department = combo.replace(" PG Taught", "")
            transformed_department = original_department
            # Handle specific naming transformations
            if "And" in transformed_department:
                transformed_department = transformed_department.split("And")[0].strip()
            if transformed_department == "International History":
                transformed_department = "History"
            if transformed_department == "European Institute":
                transformed_department = "European"
            if transformed_department == "Law School" or transformed_department == "Law":
                transformed_department = "LLM"
            if transformed_department == "Philosophy Logic":
                transformed_department = "Philosophy"
            if transformed_department == "School of Public Policy":
                transformed_department = "Public Policy"
            if transformed_department == "Gender Studies":
                transformed_department = "Gender"
            if "Psychological" in transformed_department:
                transformed_department = "Psychology"

            # Save mapping
            original_to_transformed_2017[transformed_department] = original_department
            processed_dept_programs_2017.append(transformed_department)

# Create DataFrame from processed list
processed_df_2017 = pd.DataFrame(processed_dept_programs_2017, columns=['Department'])

# Insert "Program" column with "PG Taught" as the value for all entries
processed_df_2017.insert(1, 'Program', 'PG Taught')

def find_matching_data_2017(dept_program):
    matches = data_df_one_2017[data_df_one_2017.iloc[:, 0].str.contains(dept_program, na=False)]
    if not matches.empty:
        col2_values = []
        col3_values = []
        for _, row in matches.iterrows():
            # Process and clean fee data for averaging
            try:
                cleaned_value_col2 = float(str(row[1]).replace('£', '').replace(',', ''))
                if cleaned_value_col2.is_integer():
                    col2_values.append(int(cleaned_value_col2))
            except ValueError:
                col2_values.append(pd.NA)
            try:
                cleaned_value_col3 = float(str(row[2]).replace('£', '').replace(',', ''))
                if cleaned_value_col3.is_integer():
                    col3_values.append(int(cleaned_value_col3))
            except ValueError:
                col3_values.append(pd.NA)

        # Calculate averages while ignoring N/A values
        avg_col2 = pd.Series(col2_values).dropna().mean()
        avg_col3 = pd.Series(col3_values).dropna().mean()
        return pd.Series([avg_col2, avg_col3])
    return pd.Series([pd.NA, pd.NA])

# Apply the function to find and average matching tuition fees
processed_df_2017[['Home fees', 'Overseas fees']] = processed_df_2017['Department'].apply(find_matching_data_2017)

# Remove rows where either column contains NA or NaN values
processed_df_2017.dropna(subset=['Home fees', 'Overseas fees'], inplace=True)

# Ensure all remaining values are integers
processed_df_2017['Home fees'] = processed_df_2017['Home fees'].astype(int)
processed_df_2017['Overseas fees'] = processed_df_2017['Overseas fees'].astype(int)

# Revert department names to original values
processed_df_2017['Department'] = processed_df_2017['Department'].map(original_to_transformed_2017)

# Find the row index for the specific phrase and extract the fees and year
idx_2017 = data_df_one_2017.index[data_df_one_2017.iloc[:, 0].str.contains("Students commencing their degree in" or "New Entrants", na=False)].tolist()
if idx_2017:
    target_idx_2017 = idx_2017[0]  # Assume the first occurrence
    if "Undergraduate" in data_df_one_2017.iloc[target_idx_2017 - 1, 0]:
        year_match_2017 = re.search(r'\b(\d{4})\b', data_df_one_2017.iloc[target_idx_2017, 0])
        year_2017 = year_match_2017.group(0) if year_match_2017 else "Unknown"
        home_fee_match_2017 = re.search(r'£(\d{4})', data_df_one_2017.iloc[target_idx_2017, 1].replace(',', ''))
        overseas_fee_match_2017 = re.search(r'£(\d{5})', data_df_one_2017.iloc[target_idx_2017, 2].replace(',', ''))
        home_fee_2017 = int(home_fee_match_2017.group(1)) if home_fee_match_2017 else None
        overseas_fee_2017 = int(overseas_fee_match_2017.group(1)) if overseas_fee_match_2017 else None
        print("Year:", year_2017)
        print("Home Fee:", home_fee_2017)
        print("Overseas Fee:", overseas_fee_2017)

# 2018
pdf_path_2018 = 'Data/2018-19-Fees-Table.pdf'
output_csv_path_2018 = 'Data/2018_Fees.csv'

extract_tables_from_pdf(pdf_path_2018, output_csv_path_2018)

# Load the CSV file containing the tuition fees and program data
output_csv_path_2018 = 'Data/2018_Fees.csv'
csv_path_2018 = 'Data/Florian_Wirtz_eigentlich_noch_was_mit_der_v2.csv'

# Read the CSV files
data_df_one_2018 = pd.read_csv(output_csv_path_2018, error_bad_lines=False, warn_bad_lines=True)
data_df_2018 = pd.read_csv(csv_path_2018)

# Combine 'Department' and 'Program' into a new column for unique combinations
data_df_2018['Dept_Program'] = data_df_2018['Department'] + " " + data_df_2018['Program']

# Get unique combinations
unique_dept_programs_2018 = data_df_2018['Dept_Program'].unique()

# Dictionary to store original to transformed mappings
original_to_transformed_2018 = {}

# Process only Master's programs and adjust department names
processed_dept_programs_2018 = []
for combo in unique_dept_programs_2018:
    if isinstance(combo, str):  # Check if the item is a string
        if "PG Taught" in combo:
            original_department = combo.replace(" PG Taught", "")
            transformed_department = original_department
            # Handle specific naming transformations
            if "And" in transformed_department:
                transformed_department = transformed_department.split("And")[0].strip()
            if transformed_department == "International History":
                transformed_department = "History"
            if transformed_department == "European Institute":
                transformed_department = "European"
            if transformed_department == "Law School" or transformed_department == "Law":
                transformed_department = "LLM"
            if transformed_department == "Philosophy Logic":
                transformed_department = "Philosophy"
            if transformed_department == "School of Public Policy":
                transformed_department = "Public Policy"
            if transformed_department == "Gender Studies":
                transformed_department = "Gender"
            if "Psychological" in transformed_department:
                transformed_department = "Psychology"

            # Save mapping
            original_to_transformed_2018[transformed_department] = original_department
            processed_dept_programs_2018.append(transformed_department)

# Create DataFrame from processed list
processed_df_2018 = pd.DataFrame(processed_dept_programs_2018, columns=['Department'])

# Insert "Program" column with "PG Taught" as the value for all entries
processed_df_2018.insert(1, 'Program', 'PG Taught')

def find_matching_data_2018(dept_program):
    matches = data_df_one_2018[data_df_one_2018.iloc[:, 0].str.contains(dept_program, na=False)]
    if not matches.empty:
        col2_values = []
        col3_values = []
        for _, row in matches.iterrows():
            # Process and clean fee data for averaging
            try:
                cleaned_value_col2 = float(str(row[1]).replace('£', '').replace(',', ''))
                if cleaned_value_col2.is_integer():
                    col2_values.append(int(cleaned_value_col2))
            except ValueError:
                col2_values.append(pd.NA)
            try:
                cleaned_value_col3 = float(str(row[2]).replace('£', '').replace(',', ''))
                if cleaned_value_col3.is_integer():
                    col3_values.append(int(cleaned_value_col3))
            except ValueError:
                col3_values.append(pd.NA)

        # Calculate averages while ignoring N/A values
        avg_col2 = pd.Series(col2_values).dropna().mean()
        avg_col3 = pd.Series(col3_values).dropna().mean()
        return pd.Series([avg_col2, avg_col3])
    return pd.Series([pd.NA, pd.NA])

# Apply the function to find and average matching tuition fees
processed_df_2018[['Home fees', 'Overseas fees']] = processed_df_2018['Department'].apply(find_matching_data_2018)

# Remove rows where either column contains NA or NaN values
processed_df_2018.dropna(subset=['Home fees', 'Overseas fees'], inplace=True)

# Ensure all remaining values are integers
processed_df_2018['Home fees'] = processed_df_2018['Home fees'].astype(int)
processed_df_2018['Overseas fees'] = processed_df_2018['Overseas fees'].astype(int)

# Revert department names to original values
processed_df_2018['Department'] = processed_df_2018['Department'].map(original_to_transformed_2018)

# Find the row index for the specific phrase and extract the fees and year
idx_2018 = data_df_one_2018.index[data_df_one_2018.iloc[:, 0].str.contains("Students commencing their degree in" or "New Entrants", na=False)].tolist()
if idx_2018:
    target_idx_2018 = idx_2018[0]  # Assume the first occurrence
    if "Undergraduate" in data_df_one_2018.iloc[target_idx_2018 - 1, 0]:
        year_match_2018 = re.search(r'\b(\d{4})\b', data_df_one_2018.iloc[target_idx_2018, 0])
        year_2018 = year_match_2018.group(0) if year_match_2018 else "Unknown"
        home_fee_match_2018 = re.search(r'£(\d{4})', data_df_one_2018.iloc[target_idx_2018, 1].replace(',', ''))
        overseas_fee_match_2018 = re.search(r'£(\d{5})', data_df_one_2018.iloc[target_idx_2018, 2].replace(',', ''))
        home_fee_2018 = int(home_fee_match_2018.group(1)) if home_fee_match_2018 else None
        overseas_fee_2018 = int(overseas_fee_match_2018.group(1)) if overseas_fee_match_2018 else None
        print("Year:", year_2018)
        print("Home Fee:", home_fee_2018)
        print("Overseas Fee:", overseas_fee_2018)

# 2019
pdf_path_2019 = 'Data/2019-Table-of-Fees.pdf'
output_csv_path_2019 = 'Data/2019_Fees.csv'

extract_tables_from_pdf(pdf_path_2019, output_csv_path_2019)

# Load the CSV file containing the tuition fees and program data
output_csv_path_2019 = 'Data/2019_Fees.csv'
csv_path_2019 = 'Data/Florian_Wirtz_eigentlich_noch_was_mit_der_v2.csv'

# Read the CSV files
data_df_one_2019 = pd.read_csv(output_csv_path_2019, error_bad_lines=False, warn_bad_lines=True)
data_df_2019 = pd.read_csv(csv_path_2019)

# Combine 'Department' and 'Program' into a new column for unique combinations

# Combine 'Department' and 'Program' into a new column for unique combinations
data_df_2019['Dept_Program'] = data_df_2019['Department'] + " " + data_df_2019['Program']

# Get unique combinations
unique_dept_programs_2019 = data_df_2019['Dept_Program'].unique()

# Dictionary to store original to transformed mappings
original_to_transformed_2019 = {}

# Process only Master's programs and adjust department names
processed_dept_programs_2019 = []
for combo in unique_dept_programs_2019:
    if isinstance(combo, str):  # Check if the item is a string
        if "PG Taught" in combo:
            original_department = combo.replace(" PG Taught", "")
            transformed_department = original_department
            # Handle specific naming transformations
            if "And" in transformed_department:
                transformed_department = transformed_department.split("And")[0].strip()
            if transformed_department == "International History":
                transformed_department = "History"
            if transformed_department == "European Institute":
                transformed_department = "European"
            if transformed_department == "Law School" or transformed_department == "Law":
                transformed_department = "LLM"
            if transformed_department == "Philosophy Logic":
                transformed_department = "Philosophy"
            if transformed_department == "School of Public Policy":
                transformed_department = "Public Policy"
            if transformed_department == "Gender Studies":
                transformed_department = "Gender"
            if "Psychological" in transformed_department:
                transformed_department = "Psychology"

            # Save mapping
            original_to_transformed_2019[transformed_department] = original_department
            processed_dept_programs_2019.append(transformed_department)

# Create DataFrame from processed list
processed_df_2019 = pd.DataFrame(processed_dept_programs_2019, columns=['Department'])

# Insert "Program" column with "PG Taught" as the value for all entries
processed_df_2019.insert(1, 'Program', 'PG Taught')

def find_matching_data_2019(dept_program):
    matches = data_df_one_2019[data_df_one_2019.iloc[:, 0].str.contains(dept_program, na=False)]
    if not matches.empty:
        col2_values = []
        col3_values = []
        for _, row in matches.iterrows():
            # Process and clean fee data for averaging
            try:
                cleaned_value_col2 = float(str(row[1]).replace('£', '').replace(',', ''))
                if cleaned_value_col2.is_integer():
                    col2_values.append(int(cleaned_value_col2))
            except ValueError:
                col2_values.append(pd.NA)
            try:
                cleaned_value_col3 = float(str(row[2]).replace('£', '').replace(',', ''))
                if cleaned_value_col3.is_integer():
                    col3_values.append(int(cleaned_value_col3))
            except ValueError:
                col3_values.append(pd.NA)

        # Calculate averages while ignoring N/A values
        avg_col2 = pd.Series(col2_values).dropna().mean()
        avg_col3 = pd.Series(col3_values).dropna().mean()
        return pd.Series([avg_col2, avg_col3])
    return pd.Series([pd.NA, pd.NA])

# Apply the function to find and average matching tuition fees
processed_df_2019[['Home fees', 'Overseas fees']] = processed_df_2019['Department'].apply(find_matching_data_2019)

# Remove rows where either column contains NA or NaN values
processed_df_2019.dropna(subset=['Home fees', 'Overseas fees'], inplace=True)

# Ensure all remaining values are integers
processed_df_2019['Home fees'] = processed_df_2019['Home fees'].astype(int)
processed_df_2019['Overseas fees'] = processed_df_2019['Overseas fees'].astype(int)

# Revert department names to original values
processed_df_2019['Department'] = processed_df_2019['Department'].map(original_to_transformed_2019)

# Find the row index for the specific phrase and extract the fees and year
idx_2019 = data_df_one_2019.index[data_df_one_2019.iloc[:, 0].str.contains("Students commencing their degree in" or "New Entrants", na=False)].tolist()
if idx_2019:
    target_idx_2019 = idx_2019[0]  # Assume the first occurrence
    if "Undergraduate" in data_df_one_2019.iloc[target_idx_2019 - 1, 0]:
        year_match_2019 = re.search(r'\b(\d{4})\b', data_df_one_2019.iloc[target_idx_2019, 0])
        year_2019 = year_match_2019.group(0) if year_match_2019 else "Unknown"
        home_fee_match_2019 = re.search(r'£(\d{4})', data_df_one_2019.iloc[target_idx_2019, 1].replace(',', ''))
        overseas_fee_match_2019 = re.search(r'£(\d{5})', data_df_one_2019.iloc[target_idx_2019, 2].replace(',', ''))
        home_fee_2019 = int(home_fee_match_2019.group(1)) if home_fee_match_2019 else None
        overseas_fee_2019 = int(overseas_fee_match_2019.group(1)) if overseas_fee_match_2019 else None
        print("Year:", year_2019)
        print("Home Fee:", home_fee_2019)
        print("Overseas Fee:", overseas_fee_2019)

# 2020
pdf_path_2020 = "Data/2020-Table-of-Fees-25Jun20.pdf"
output_csv_path_2020 = 'Data/2020_Fees.csv'

extract_tables_from_pdf(pdf_path_2020, output_csv_path_2020)

# Load the CSV file containing the tuition fees and program data
output_csv_path_2020 = 'Data/2020_Fees.csv'
csv_path_2020 = 'Data/Florian_Wirtz_eigentlich_noch_was_mit_der_v2.csv'

# Read the CSV files
data_df_one_2020 = pd.read_csv(output_csv_path_2020, error_bad_lines=False, warn_bad_lines=True)
data_df_2020 = pd.read_csv(csv_path_2020)

# Combine 'Department' and 'Program' into a new column for unique combinations
data_df_2020['Dept_Program'] = data_df_2020['Department'] + " " + data_df_2020['Program']

# Get unique combinations
unique_dept_programs_2020 = data_df_2020['Dept_Program'].unique()

# Dictionary to store original to transformed mappings
original_to_transformed_2020 = {}

# Process only Master's programs and adjust department names
processed_dept_programs_2020 = []
for combo in unique_dept_programs_2020:
    if isinstance(combo, str):  # Check if the item is a string
        if "PG Taught" in combo:
            original_department = combo.replace(" PG Taught", "")
            transformed_department = original_department
            # Handle specific naming transformations
            if "And" in transformed_department:
                transformed_department = transformed_department.split("And")[0].strip()
            if transformed_department == "International History":
                transformed_department = "History"
            if transformed_department == "European Institute":
                transformed_department = "European"
            if transformed_department == "Law School" or transformed_department == "Law":
                transformed_department = "LLM"
            if transformed_department == "Philosophy Logic":
                transformed_department = "Philosophy"
            if transformed_department == "School of Public Policy":
                transformed_department = "Public Policy"
            if transformed_department == "Gender Studies":
                transformed_department = "Gender"
            if "Psychological" in transformed_department:
                transformed_department = "Psychology"

            # Save mapping
            original_to_transformed_2020[transformed_department] = original_department
            processed_dept_programs_2020.append(transformed_department)

# Create DataFrame from processed list
processed_df_2020 = pd.DataFrame(processed_dept_programs_2020, columns=['Department'])

# Insert "Program" column with "PG Taught" as the value for all entries
processed_df_2020.insert(1, 'Program', 'PG Taught')

def find_matching_data_2020(dept_program):
    matches = data_df_one_2020[data_df_one_2020.iloc[:, 0].str.contains(dept_program, na=False)]
    if not matches.empty:
        col2_values = []
        col3_values = []
        for _, row in matches.iterrows():
            # Process and clean fee data for averaging
            try:
                cleaned_value_col2 = float(str(row[1]).replace('£', '').replace(',', ''))
                if cleaned_value_col2.is_integer():
                    col2_values.append(int(cleaned_value_col2))
            except ValueError:
                col2_values.append(pd.NA)
            try:
                cleaned_value_col3 = float(str(row[2]).replace('£', '').replace(',', ''))
                if cleaned_value_col3.is_integer():
                    col3_values.append(int(cleaned_value_col3))
            except ValueError:
                col3_values.append(pd.NA)

        # Calculate averages while ignoring N/A values
        avg_col2 = pd.Series(col2_values).dropna().mean()
        avg_col3 = pd.Series(col3_values).dropna().mean()
        return pd.Series([avg_col2, avg_col3])
    return pd.Series([pd.NA, pd.NA])

# Apply the function to find and average matching tuition fees
processed_df_2020[['Home fees', 'Overseas fees']] = processed_df_2020['Department'].apply(find_matching_data_2020)

# Remove rows where either column contains NA or NaN values
processed_df_2020.dropna(subset=['Home fees', 'Overseas fees'], inplace=True)

# Ensure all remaining values are integers
processed_df_2020['Home fees'] = processed_df_2020['Home fees'].astype(int)
processed_df_2020['Overseas fees'] = processed_df_2020['Overseas fees'].astype(int)

# Revert department names to original values
processed_df_2020['Department'] = processed_df_2020['Department'].map(original_to_transformed_2020)

# Find the row index for the specific phrase and extract the fees and year
idx_2020 = data_df_one_2020.index[data_df_one_2020.iloc[:, 0].str.contains("Students commencing their degree in" or "New Entrants", na=False)].tolist()
if idx_2020:
    target_idx_2020 = idx_2020[0]  # Assume the first occurrence
    if "Undergraduate" in data_df_one_2020.iloc[target_idx_2020 - 1, 0]:
        year_match_2020 = re.search(r'\b(\d{4})\b', data_df_one_2020.iloc[target_idx_2020, 0])
        year_2020 = year_match_2020.group(0) if year_match_2020 else "Unknown"
        home_fee_match_2020 = re.search(r'£(\d{4})', data_df_one_2020.iloc[target_idx_2020, 1].replace(',', ''))
        overseas_fee_match_2020 = re.search(r'£(\d{5})', data_df_one_2020.iloc[target_idx_2020, 2].replace(',', ''))
        home_fee_2020 = int(home_fee_match_2020.group(1)) if home_fee_match_2020 else None
        overseas_fee_2020 = int(overseas_fee_match_2020.group(1)) if overseas_fee_match_2020 else None
        print("Year:", year_2020)
        print("Home Fee:", home_fee_2020)
        print("Overseas Fee:", overseas_fee_2020)

# Merge dataframes from different years
frames = [processed_df_2017, processed_df_2018, processed_df_2019, processed_df_2020]
result_df = pd.concat(frames, ignore_index=True)


pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
# Display the combined dataframe
result_df

/var/folders/w_/ccm86j116md1g5bmpdbhyv5r0000gn/T/ipykernel_69954/2049031719.py:36: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  data_df_one_2017 = pd.read_csv(output_csv_path_2017, error_bad_lines=False, warn_bad_lines=True)
/var/folders/w_/ccm86j116md1g5bmpdbhyv5r0000gn/T/ipykernel_69954/2049031719.py:36: FutureWarning: The warn_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  data_df_one_2017 = pd.read_csv(output_csv_path_2017, error_bad_lines=False, warn_bad_lines=True)
/var/folders/w_/ccm86j116md1g5bmpdbhyv5r0000gn/T/ipykernel_69954/2049031719.py:148: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  data_df_one_2018 = pd.read_csv(output_csv_path_2018, error_bad_lines=False, warn_bad_lines=True)
/var/folders/w_/ccm86j116md1g5bmpdbhyv5r0000gn/T/ipykernel_69954/2049031719.py:148: FutureWarning: The warn_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  data_df_one_2018 = pd.read_csv(output_csv_path_2018, error_bad_lines=False, warn_bad_lines=True)
/var/folders/w_/ccm86j116md1g5bmpdbhyv5r0000gn/T/ipykernel_69954/2049031719.py:217: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  avg_col3 = pd.Series(col3_values).dropna().mean()

Year: 2018
Home Fee: 9250
Overseas Fee: 19152

/var/folders/w_/ccm86j116md1g5bmpdbhyv5r0000gn/T/ipykernel_69954/2049031719.py:260: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  data_df_one_2019 = pd.read_csv(output_csv_path_2019, error_bad_lines=False, warn_bad_lines=True)
/var/folders/w_/ccm86j116md1g5bmpdbhyv5r0000gn/T/ipykernel_69954/2049031719.py:260: FutureWarning: The warn_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  data_df_one_2019 = pd.read_csv(output_csv_path_2019, error_bad_lines=False, warn_bad_lines=True)
Skipping line 234: expected 5 fields, saw 8
Skipping line 235: expected 5 fields, saw 8
Skipping line 236: expected 5 fields, saw 8
Skipping line 237: expected 5 fields, saw 8
Skipping line 238: expected 5 fields, saw 8
Skipping line 239: expected 5 fields, saw 8
Skipping line 240: expected 5 fields, saw 9
Skipping line 241: expected 5 fields, saw 9
Skipping line 242: expected 5 fields, saw 9
Skipping line 243: expected 5 fields, saw 9
Skipping line 244: expected 5 fields, saw 9
Skipping line 245: expected 5 fields, saw 9
Skipping line 246: expected 5 fields, saw 9
Skipping line 247: expected 5 fields, saw 9
Skipping line 248: expected 5 fields, saw 9
Skipping line 249: expected 5 fields, saw 9
Skipping line 250: expected 5 fields, saw 9
Skipping line 251: expected 5 fields, saw 9
Skipping line 252: expected 5 fields, saw 9
Skipping line 253: expected 5 fields, saw 9
Skipping line 254: expected 5 fields, saw 9
Skipping line 255: expected 5 fields, saw 9
Skipping line 256: expected 5 fields, saw 9
Skipping line 257: expected 5 fields, saw 9
Skipping line 258: expected 5 fields, saw 9
Skipping line 259: expected 5 fields, saw 9
Skipping line 260: expected 5 fields, saw 9
Skipping line 261: expected 5 fields, saw 9

/var/folders/w_/ccm86j116md1g5bmpdbhyv5r0000gn/T/ipykernel_69954/2049031719.py:331: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  avg_col3 = pd.Series(col3_values).dropna().mean()

Year: 2019
Home Fee: 9250
Overseas Fee: 19920
Year: 2020
Home Fee: 9250
Overseas Fee: 21570

/var/folders/w_/ccm86j116md1g5bmpdbhyv5r0000gn/T/ipykernel_69954/2049031719.py:374: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  data_df_one_2020 = pd.read_csv(output_csv_path_2020, error_bad_lines=False, warn_bad_lines=True)
/var/folders/w_/ccm86j116md1g5bmpdbhyv5r0000gn/T/ipykernel_69954/2049031719.py:374: FutureWarning: The warn_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  data_df_one_2020 = pd.read_csv(output_csv_path_2020, error_bad_lines=False, warn_bad_lines=True)
Skipping line 244: expected 5 fields, saw 8
Skipping line 245: expected 5 fields, saw 8
Skipping line 246: expected 5 fields, saw 8
Skipping line 247: expected 5 fields, saw 8
Skipping line 248: expected 5 fields, saw 8
Skipping line 249: expected 5 fields, saw 8
Skipping line 250: expected 5 fields, saw 9
Skipping line 251: expected 5 fields, saw 9
Skipping line 252: expected 5 fields, saw 9
Skipping line 253: expected 5 fields, saw 9
Skipping line 254: expected 5 fields, saw 9
Skipping line 255: expected 5 fields, saw 9
Skipping line 256: expected 5 fields, saw 9
Skipping line 257: expected 5 fields, saw 9
Skipping line 258: expected 5 fields, saw 9
Skipping line 259: expected 5 fields, saw 9
Skipping line 260: expected 5 fields, saw 9
Skipping line 261: expected 5 fields, saw 9
Skipping line 262: expected 5 fields, saw 9
Skipping line 263: expected 5 fields, saw 9
Skipping line 264: expected 5 fields, saw 9
Skipping line 265: expected 5 fields, saw 9
Skipping line 266: expected 5 fields, saw 9
Skipping line 267: expected 5 fields, saw 9
Skipping line 268: expected 5 fields, saw 9
Skipping line 269: expected 5 fields, saw 9
Skipping line 270: expected 5 fields, saw 9
Skipping line 271: expected 5 fields, saw 9

/var/folders/w_/ccm86j116md1g5bmpdbhyv5r0000gn/T/ipykernel_69954/2049031719.py:443: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  avg_col3 = pd.Series(col3_values).dropna().mean()

,Department,Program,Home fees,Overseas fees
0,Accounting,PG Taught,24120,24372
1,Economic History,PG Taught,13008,20112
2,Economics,PG Taught,19607,21054
3,European Institute,PG Taught,17587,20112
4,Finance,PG Taught,25578,25767
5,Gender Studies,PG Taught,13008,20112
6,Geography And Environment,PG Taught,13008,20112
7,Government,PG Taught,13208,20312
8,Health Policy,PG Taught,15792,22584
9,International Development,PG Taught,16800,20112
10,International Relations,PG Taught,17292,20844
11,Law School,PG Taught,14784,21576
12,Management,PG Taught,22479,22491
13,Mathematics,PG Taught,19476,23280
14,Media And Communication,PG Taught,18336,20112
15,Philosophy Logic And Scientific Method,PG Taught,16560,20112
16,Psychological And Behavioural Science,PG Taught,15376,20112
17,School of Public Policy,PG Taught,21180,20112
18,Social Policy,PG Taught,13538,20178
19,Sociology,PG Taught,13008,20112
20,Statistics,PG Taught,17320,22224
21,Anthropology,PG Taught,14784,20112
22,International History,PG Taught,13008,20112
23,Media And Communication,PG Taught,18336,20112
24,International..,PG Taught,18409,21684
25,Accounting,PG Taught,25080,25344
26,Economic History,PG Taught,13536,20904
27,Economics,PG Taught,20848,21796
28,European Institute,PG Taught,19936,20904
29,Finance,PG Taught,26599,26797
30,Gender Studies,PG Taught,13536,20904
31,Geography And Environment,PG Taught,13536,20904
32,Health Policy,PG Taught,16392,23448
33,International Development,PG Taught,17480,20904
34,International Relations,PG Taught,17988,21672
35,Law School,PG Taught,15384,22440
36,Management,PG Taught,23670,23756
37,Mathematics,PG Taught,20256,24204
38,Media And Communication,PG Taught,19062,20904
39,Philosophy Logic And Scientific Method,PG Taught,17220,20904
40,Psychological And Behavioural Science,PG Taught,15992,20904
41,School of Public Policy,PG Taught,20363,20954
42,Social Policy,PG Taught,18048,20904
43,Sociology,PG Taught,13536,20904
44,Statistics,PG Taught,20256,24204
45,Anthropology,PG Taught,15992,20904
46,International History,PG Taught,13536,20904
47,Media And Communication,PG Taught,19062,20904
48,International..,PG Taught,18922,22326
49,Accounting,PG Taught,26082,26358
50,Economic History,PG Taught,14088,21744
51,Economics,PG Taught,21917,22870
52,European Institute,PG Taught,19192,21744
53,Finance,PG Taught,27663,27870
54,Gender Studies,PG Taught,14088,21744
55,Geography And Environment,PG Taught,14088,21744
56,Health Policy,PG Taught,17512,24832
57,International Development,PG Taught,14088,21744
58,International Relations,PG Taught,18708,22536
59,Law School,PG Taught,16008,23328
60,Management,PG Taught,24575,24826
61,Mathematics,PG Taught,21072,25176
62,Media And Communication,PG Taught,19830,21744
63,Philosophy Logic And Scientific Method,PG Taught,17916,21744
64,Psychological And Behavioural Science,PG Taught,17280,21744
65,School of Public Policy,PG Taught,22294,23570
66,Sociology,PG Taught,14088,21744
67,Statistics,PG Taught,23400,26320
68,Anthropology,PG Taught,16640,21744
69,International History,PG Taught,14088,21744
70,Media And Communication,PG Taught,19830,21744
71,International..,PG Taught,19194,22994
72,Accounting,PG Taught,28080,28464
73,Economic History,PG Taught,14640,22608
74,Economics,PG Taught,23179,24134
75,European Institute,PG Taught,19952,22608
76,Finance,PG Taught,28969,29185
77,Gender Studies,PG Taught,14640,22608
78,Geography And Environment,PG Taught,14640,22608
79,Health Policy,PG Taught,18160,25768
80,International Development,PG Taught,14640,22608
81,International Relations,PG Taught,19452,23436
82,Law School,PG Taught,16656,24264
83,Management,PG Taught,28441,28703
84,Mathematics,PG Taught,21912,26184
85,Media And Communication,PG Taught,20616,22608
86,Philosophy Logic And Scientific Method,PG Taught,18624,22608
87,Psychological And Behavioural Science,PG Taught,17968,22608
88,School of Public Policy,PG Taught,21987,24264
89,Sociology,PG Taught,14640,22608
90,Statistics,PG Taught,24336,27376
91,Anthropology,PG Taught,17296,22608
92,International History,PG Taught,14640,22608
93,Media And Communication,PG Taught,20616,22608
94,International..,PG Taught,19470,23732