In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
import time

def setup_driver(download_dir):
    """Sets up the WebDriver for Chrome."""
    options = webdriver.ChromeOptions()
    # Disable PDF viewer to automatically download PDF files
    options.add_experimental_option("prefs", {
        "download.default_directory": download_dir,
        "download.prompt_for_download": False,  # Disable download prompt
        "plugins.always_open_pdf_externally": True  # It will not show PDF directly in chrome
    })
    # Set up Chrome driver
    driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()), options=options)
    return driver

def download_pdfs_by_class(base_url, class_name, download_dir):
    driver = setup_driver(download_dir)
    driver.get(base_url)

    # Wait for the page to load
    time.sleep(1)  # Increase or decrease based on your internet speed

    # Find all elements with the specified class and download the linked files
    links = driver.find_elements(By.CLASS_NAME, class_name)
    for link in links:
        href = link.get_attribute('href')
        if href and href.endswith('.pdf'):
            # Open the link in a new tab
            driver.execute_script(f"window.open('{href}');")
            time.sleep(1)  # Adjust time for page load as necessary
            # Switch back to the main window
            driver.switch_to.window(driver.window_handles[0])

    # Close the driver
    driver.quit()

# Base URL of the page containing the links
base_url = 'https://info.lse.ac.uk/staff/divisions/Planning-Division/Table-of-Fees'
# Class shared by PDF links
class_name = 'sys_21'
# Path to the download directory
download_dir = 'Data\TuitionFees'

download_pdfs_by_class(base_url, class_name, download_dir)

In [2]:
## 2020

import pdfplumber
import csv
import pandas as pd
import re

def extract_tables_from_pdf(pdf_path, output_csv_path):
    with pdfplumber.open(pdf_path) as pdf:
        all_tables = []
        # Iterate through each page of the PDF
        for page in pdf.pages:
            # Extract tables from the current page
            tables = page.extract_tables()
            for table in tables:
                all_tables.extend(table)  # Add the rows of the table to all_tables list
       
        # Write all extracted tables to a CSV file
        with open(output_csv_path, 'w', newline='') as csvfile:
            writer = csv.writer(csvfile)
            for row in all_tables:
                writer.writerow(row)

# Specify the path to your PDF and the output CSV file
pdf_path = 'Data/2020-Table-of-Fees-25Jun20.pdf'
output_csv_path = 'Data/2020_Fees.csv'

extract_tables_from_pdf(pdf_path, output_csv_path)


# Load the CSV file containing the tuition fees and program data
output_csv_path = 'Data/2020_Fees.csv'  
csv_path = 'Data/Florian_Wirtz_eigentlich_noch_was_mit_der_v2.csv'  

# Read the CSV files
data_df_one = pd.read_csv(output_csv_path, error_bad_lines=False, warn_bad_lines=True)
data_df = pd.read_csv(csv_path)

# Combine 'Department' and 'Program' into a new column for unique combinations
data_df['Dept_Program'] = data_df['Department'] + " " + data_df['Program']

# Get unique combinations
unique_dept_programs = data_df['Dept_Program'].unique()

# Dictionary to store original to transformed mappings
original_to_transformed = {}

# Process only Master's programs and adjust department names
processed_dept_programs = []
for combo in unique_dept_programs:
    if isinstance(combo, str):  # Check if the item is a string
        if "PG Taught" in combo:
            original_department = combo.replace(" PG Taught", "")
            transformed_department = original_department
            # Handle specific naming transformations
            if "And" in transformed_department:
                transformed_department = transformed_department.split("And")[0].strip()
            if transformed_department == "International History":
                transformed_department = "History"
            if transformed_department == "European Institute":
                transformed_department = "European"
            if transformed_department == "Law School" or transformed_department == "Law":
                transformed_department = "LLM"
            if transformed_department == "Philosophy Logic":
                transformed_department = "Philosophy"
            if transformed_department == "School of Public Policy":
                transformed_department = "Public Policy"
            if transformed_department == "Gender Studies":
                transformed_department = "Gender"
            if "Psychological" in transformed_department:
                transformed_department = "Psychology"
            
            # Save mapping
            original_to_transformed[transformed_department] = original_department
            processed_dept_programs.append(transformed_department)

# Create DataFrame from processed list
processed_df = pd.DataFrame(processed_dept_programs, columns=['Department'])

# Insert "Program" column with "PG Taught" as the value for all entries
processed_df.insert(1, 'Program', 'PG Taught')

def find_matching_data(dept_program):
    matches = data_df_one[data_df_one.iloc[:, 0].str.contains(dept_program, na=False)]
    if not matches.empty:
        col2_values = []
        col3_values = []
        for _, row in matches.iterrows():
            # Process and clean fee data for averaging
            try:
                cleaned_value_col2 = float(str(row[1]).replace('£', '').replace(',', ''))
                if cleaned_value_col2.is_integer():
                    col2_values.append(int(cleaned_value_col2))
            except ValueError:
                col2_values.append(pd.NA)
            try:
                cleaned_value_col3 = float(str(row[2]).replace('£', '').replace(',', ''))
                if cleaned_value_col3.is_integer():
                    col3_values.append(int(cleaned_value_col3))
            except ValueError:
                col3_values.append(pd.NA)
        
        # Calculate averages while ignoring N/A values
        avg_col2 = pd.Series(col2_values).dropna().mean()
        avg_col3 = pd.Series(col3_values).dropna().mean()
        return pd.Series([avg_col2, avg_col3])
    return pd.Series([pd.NA, pd.NA])

# Apply the function to find and average matching tuition fees
processed_df[['Home fees', 'Overseas fees']] = processed_df['Department'].apply(find_matching_data)

# Remove rows where either column contains NA or NaN values
processed_df.dropna(subset=['Home fees', 'Overseas fees'], inplace=True)

# Ensure all remaining values are integers
processed_df['Home fees'] = processed_df['Home fees'].astype(int)
processed_df['Overseas fees'] = processed_df['Overseas fees'].astype(int)

# Revert department names to original values
processed_df['Department'] = processed_df['Department'].map(original_to_transformed)

# Display the final DataFrame
processed_df

# Find the row index for the specific phrase and extract the fees and year
idx = data_df_one.index[data_df_one.iloc[:, 0].str.contains("Students commencing their degree in" or "New Entrants", na=False)].tolist()
if idx:
    target_idx = idx[0]  # Assume the first occurrence
    if "Undergraduate" in data_df_one.iloc[target_idx - 1, 0]:
        year_match = re.search(r'\b(\d{4})\b', data_df_one.iloc[target_idx, 0])
        year = year_match.group(0) if year_match else "Unknown"
        home_fee_match = re.search(r'£(\d{4})', data_df_one.iloc[target_idx, 1].replace(',', ''))
        overseas_fee_match = re.search(r'£(\d{5})', data_df_one.iloc[target_idx, 2].replace(',', ''))
        home_fee = int(home_fee_match.group(1)) if home_fee_match else None
        overseas_fee = int(overseas_fee_match.group(1)) if overseas_fee_match else None

# Add the extracted row to the top of the processed_df DataFrame
additional_row = pd.DataFrame({
    'Department': [f"All {year}"],
    'Program': ["UG Degree"],
    'Home fees': [home_fee],
    'Overseas fees': [overseas_fee]
})

# Append the additional row to the processed_df DataFrame
processed_df = pd.concat([additional_row, processed_df]).reset_index(drop=True)

# Display the final DataFrame including the new row
processed_df

/var/folders/w_/ccm86j116md1g5bmpdbhyv5r0000gn/T/ipykernel_69042/399378898.py:36: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  data_df_one = pd.read_csv(output_csv_path, error_bad_lines=False, warn_bad_lines=True)
/var/folders/w_/ccm86j116md1g5bmpdbhyv5r0000gn/T/ipykernel_69042/399378898.py:36: FutureWarning: The warn_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  data_df_one = pd.read_csv(output_csv_path, error_bad_lines=False, warn_bad_lines=True)
Skipping line 244: expected 5 fields, saw 8
Skipping line 245: expected 5 fields, saw 8
Skipping line 246: expected 5 fields, saw 8
Skipping line 247: expected 5 fields, saw 8
Skipping line 248: expected 5 fields, saw 8
Skipping line 249: expected 5 fields, saw 8
Skipping line 250: expected 5 fields, saw 9
Skipping line 251: expected 5 fields, saw 9
Skipping line 252: expected 5 fields, saw 9
Skipping line 253: expected 5 fields, saw 9
Skipping line 254: expected 5 fields, saw 9
Skipping line 255: expected 5 fields, saw 9
Skipping line 256: expected 5 fields, saw 9
Skipping line 257: expected 5 fields, saw 9
Skipping line 258: expected 5 fields, saw 9
Skipping line 259: expected 5 fields, saw 9
Skipping line 260: expected 5 fields, saw 9
Skipping line 261: expected 5 fields, saw 9
Skipping line 262: expected 5 fields, saw 9
Skipping line 263: expected 5 fields, saw 9
Skipping line 264: expected 5 fields, saw 9
Skipping line 265: expected 5 fields, saw 9
Skipping line 266: expected 5 fields, saw 9
Skipping line 267: expected 5 fields, saw 9
Skipping line 268: expected 5 fields, saw 9
Skipping line 269: expected 5 fields, saw 9
Skipping line 270: expected 5 fields, saw 9
Skipping line 271: expected 5 fields, saw 9

/var/folders/w_/ccm86j116md1g5bmpdbhyv5r0000gn/T/ipykernel_69042/399378898.py:105: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  avg_col3 = pd.Series(col3_values).dropna().mean()

,Department,Program,Home fees,Overseas fees
0,All 2020,UG Degree,9250,21570
1,Accounting,PG Taught,28080,28464
2,Economic History,PG Taught,14640,22608
3,Economics,PG Taught,23179,24134
4,European Institute,PG Taught,19952,22608
5,Finance,PG Taught,28969,29185
6,Gender Studies,PG Taught,14640,22608
7,Geography And Environment,PG Taught,14640,22608
8,Health Policy,PG Taught,18160,25768
9,International Development,PG Taught,14640,22608
10,International Relations,PG Taught,19452,23436
11,Law School,PG Taught,16656,24264
12,Management,PG Taught,28441,28703
13,Mathematics,PG Taught,21912,26184
14,Media And Communication,PG Taught,20616,22608
15,Philosophy Logic And Scientific Method,PG Taught,18624,22608
16,Psychological And Behavioural Science,PG Taught,17968,22608
17,School of Public Policy,PG Taught,21987,24264
18,Sociology,PG Taught,14640,22608
19,Statistics,PG Taught,24336,27376
20,Anthropology,PG Taught,17296,22608
21,International History,PG Taught,14640,22608
22,Media And Communication,PG Taught,20616,22608
23,International..,PG Taught,19470,23732

In [3]:
## 2018

def extract_tables_from_pdf(pdf_path, output_csv_path):
    with pdfplumber.open(pdf_path) as pdf:
        all_tables = []
        # Iterate through each page of the PDF
        for page in pdf.pages:
            # Extract tables from the current page
            tables = page.extract_tables()
            for table in tables:
                all_tables.extend(table)  # Add the rows of the table to all_tables list
       
        # Write all extracted tables to a CSV file
        with open(output_csv_path, 'w', newline='') as csvfile:
            writer = csv.writer(csvfile)
            for row in all_tables:
                writer.writerow(row)

# Specify the path to your PDF and the output CSV file
pdf_path = 'Data/2018-19-Fees-Table.pdf'
output_csv_path = 'Data/2018_Fees.csv'

extract_tables_from_pdf(pdf_path, output_csv_path)


# Load the CSV file containing the tuition fees and program data
output_csv_path = 'Data/2018_Fees.csv'  
csv_path = 'Data/Florian_Wirtz_eigentlich_noch_was_mit_der_v2.csv'  

# Read the CSV files
data_df_one = pd.read_csv(output_csv_path, error_bad_lines=False, warn_bad_lines=True)
data_df = pd.read_csv(csv_path)

# Combine 'Department' and 'Program' into a new column for unique combinations
data_df['Dept_Program'] = data_df['Department'] + " " + data_df['Program']

# Get unique combinations
unique_dept_programs = data_df['Dept_Program'].unique()

# Dictionary to store original to transformed mappings
original_to_transformed = {}

# Process only Master's programs and adjust department names
processed_dept_programs = []
for combo in unique_dept_programs:
    if isinstance(combo, str):  # Check if the item is a string
        if "PG Taught" in combo:
            original_department = combo.replace(" PG Taught", "")
            transformed_department = original_department
            # Handle specific naming transformations
            if "And" in transformed_department:
                transformed_department = transformed_department.split("And")[0].strip()
            if transformed_department == "International History":
                transformed_department = "History"
            if transformed_department == "European Institute":
                transformed_department = "European"
            if transformed_department == "Law School" or transformed_department == "Law":
                transformed_department = "LLM"
            if transformed_department == "Philosophy Logic":
                transformed_department = "Philosophy"
            if transformed_department == "School of Public Policy":
                transformed_department = "Public Policy"
            if transformed_department == "Gender Studies":
                transformed_department = "Gender"
            if "Psychological" in transformed_department:
                transformed_department = "Psychology"
            
            # Save mapping
            original_to_transformed[transformed_department] = original_department
            processed_dept_programs.append(transformed_department)

# Create DataFrame from processed list
processed_df = pd.DataFrame(processed_dept_programs, columns=['Department'])

# Insert "Program" column with "PG Taught" as the value for all entries
processed_df.insert(1, 'Program', 'PG Taught')

def find_matching_data(dept_program):
    matches = data_df_one[data_df_one.iloc[:, 0].str.contains(dept_program, na=False)]
    if not matches.empty:
        col2_values = []
        col3_values = []
        for _, row in matches.iterrows():
            # Process and clean fee data for averaging
            try:
                cleaned_value_col2 = float(str(row[1]).replace('£', '').replace(',', ''))
                if cleaned_value_col2.is_integer():
                    col2_values.append(int(cleaned_value_col2))
            except ValueError:
                col2_values.append(pd.NA)
            try:
                cleaned_value_col3 = float(str(row[2]).replace('£', '').replace(',', ''))
                if cleaned_value_col3.is_integer():
                    col3_values.append(int(cleaned_value_col3))
            except ValueError:
                col3_values.append(pd.NA)
        
        # Calculate averages while ignoring N/A values
        avg_col2 = pd.Series(col2_values).dropna().mean()
        avg_col3 = pd.Series(col3_values).dropna().mean()
        return pd.Series([avg_col2, avg_col3])
    return pd.Series([pd.NA, pd.NA])

# Apply the function to find and average matching tuition fees
processed_df[['Home fees', 'Overseas fees']] = processed_df['Department'].apply(find_matching_data)

# Remove rows where either column contains NA or NaN values
processed_df.dropna(subset=['Home fees', 'Overseas fees'], inplace=True)

# Ensure all remaining values are integers
processed_df['Home fees'] = processed_df['Home fees'].astype(int)
processed_df['Overseas fees'] = processed_df['Overseas fees'].astype(int)

# Revert department names to original values
processed_df['Department'] = processed_df['Department'].map(original_to_transformed)

# Display the final DataFrame
processed_df

# Find the row index for the specific phrase and extract the fees and year
idx = data_df_one.index[data_df_one.iloc[:, 0].str.contains("Students commencing their degree in" or "New Entrants", na=False)].tolist()
if idx:
    target_idx = idx[0]  # Assume the first occurrence
    if "Undergraduate" in data_df_one.iloc[target_idx - 1, 0]:
        year_match = re.search(r'\b(\d{4})\b', data_df_one.iloc[target_idx, 0])
        year = year_match.group(0) if year_match else "Unknown"
        home_fee_match = re.search(r'£(\d{4})', data_df_one.iloc[target_idx, 1].replace(',', ''))
        overseas_fee_match = re.search(r'£(\d{5})', data_df_one.iloc[target_idx, 2].replace(',', ''))
        home_fee = int(home_fee_match.group(1)) if home_fee_match else None
        overseas_fee = int(overseas_fee_match.group(1)) if overseas_fee_match else None

# Add the extracted row to the top of the processed_df DataFrame
additional_row = pd.DataFrame({
    'Department': [f"All {year}"],
    'Program': ["UG Degree"],
    'Home fees': [home_fee],
    'Overseas fees': [overseas_fee]
})

# Append the additional row to the processed_df DataFrame
processed_df = pd.concat([additional_row, processed_df]).reset_index(drop=True)

# Display the final DataFrame including the new row
processed_df

/var/folders/w_/ccm86j116md1g5bmpdbhyv5r0000gn/T/ipykernel_69042/980795836.py:31: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  data_df_one = pd.read_csv(output_csv_path, error_bad_lines=False, warn_bad_lines=True)
/var/folders/w_/ccm86j116md1g5bmpdbhyv5r0000gn/T/ipykernel_69042/980795836.py:31: FutureWarning: The warn_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  data_df_one = pd.read_csv(output_csv_path, error_bad_lines=False, warn_bad_lines=True)
/var/folders/w_/ccm86j116md1g5bmpdbhyv5r0000gn/T/ipykernel_69042/980795836.py:100: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  avg_col3 = pd.Series(col3_values).dropna().mean()

,Department,Program,Home fees,Overseas fees
0,All 2018,UG Degree,9250,19152
1,Accounting,PG Taught,25080,25344
2,Economic History,PG Taught,13536,20904
3,Economics,PG Taught,20848,21796
4,European Institute,PG Taught,19936,20904
5,Finance,PG Taught,26599,26797
6,Gender Studies,PG Taught,13536,20904
7,Geography And Environment,PG Taught,13536,20904
8,Health Policy,PG Taught,16392,23448
9,International Development,PG Taught,17480,20904
10,International Relations,PG Taught,17988,21672
11,Law School,PG Taught,15384,22440
12,Management,PG Taught,23670,23756
13,Mathematics,PG Taught,20256,24204
14,Media And Communication,PG Taught,19062,20904
15,Philosophy Logic And Scientific Method,PG Taught,17220,20904
16,Psychological And Behavioural Science,PG Taught,15992,20904
17,School of Public Policy,PG Taught,20363,20954
18,Social Policy,PG Taught,18048,20904
19,Sociology,PG Taught,13536,20904
20,Statistics,PG Taught,20256,24204
21,Anthropology,PG Taught,15992,20904
22,International History,PG Taught,13536,20904
23,Media And Communication,PG Taught,19062,20904
24,International..,PG Taught,18922,22326

In [4]:
## 2019

def extract_tables_from_pdf(pdf_path, output_csv_path):
    with pdfplumber.open(pdf_path) as pdf:
        all_tables = []
        # Iterate through each page of the PDF
        for page in pdf.pages:
            # Extract tables from the current page
            tables = page.extract_tables()
            for table in tables:
                all_tables.extend(table)  # Add the rows of the table to all_tables list
       
        # Write all extracted tables to a CSV file
        with open(output_csv_path, 'w', newline='') as csvfile:
            writer = csv.writer(csvfile)
            for row in all_tables:
                writer.writerow(row)

# Specify the path to your PDF and the output CSV file
pdf_path = 'Data/2019-Table-of-Fees.pdf'
output_csv_path = 'Data/2019_Fees.csv'

extract_tables_from_pdf(pdf_path, output_csv_path)


# Load the CSV file containing the tuition fees and program data
output_csv_path = 'Data/2019_Fees.csv'  
csv_path = 'Data/Florian_Wirtz_eigentlich_noch_was_mit_der_v2.csv'  

# Read the CSV files
data_df_one = pd.read_csv(output_csv_path, error_bad_lines=False, warn_bad_lines=True)
data_df = pd.read_csv(csv_path)

# Combine 'Department' and 'Program' into a new column for unique combinations
data_df['Dept_Program'] = data_df['Department'] + " " + data_df['Program']

# Get unique combinations
unique_dept_programs = data_df['Dept_Program'].unique()

# Dictionary to store original to transformed mappings
original_to_transformed = {}

# Process only Master's programs and adjust department names
processed_dept_programs = []
for combo in unique_dept_programs:
    if isinstance(combo, str):  # Check if the item is a string
        if "PG Taught" in combo:
            original_department = combo.replace(" PG Taught", "")
            transformed_department = original_department
            # Handle specific naming transformations
            if "And" in transformed_department:
                transformed_department = transformed_department.split("And")[0].strip()
            if transformed_department == "International History":
                transformed_department = "History"
            if transformed_department == "European Institute":
                transformed_department = "European"
            if transformed_department == "Law School" or transformed_department == "Law":
                transformed_department = "LLM"
            if transformed_department == "Philosophy Logic":
                transformed_department = "Philosophy"
            if transformed_department == "School of Public Policy":
                transformed_department = "Public Policy"
            if transformed_department == "Gender Studies":
                transformed_department = "Gender"
            if "Psychological" in transformed_department:
                transformed_department = "Psychology"
            
            # Save mapping
            original_to_transformed[transformed_department] = original_department
            processed_dept_programs.append(transformed_department)

# Create DataFrame from processed list
processed_df = pd.DataFrame(processed_dept_programs, columns=['Department'])

# Insert "Program" column with "PG Taught" as the value for all entries
processed_df.insert(1, 'Program', 'PG Taught')

def find_matching_data(dept_program):
    matches = data_df_one[data_df_one.iloc[:, 0].str.contains(dept_program, na=False)]
    if not matches.empty:
        col2_values = []
        col3_values = []
        for _, row in matches.iterrows():
            # Process and clean fee data for averaging
            try:
                cleaned_value_col2 = float(str(row[1]).replace('£', '').replace(',', ''))
                if cleaned_value_col2.is_integer():
                    col2_values.append(int(cleaned_value_col2))
            except ValueError:
                col2_values.append(pd.NA)
            try:
                cleaned_value_col3 = float(str(row[2]).replace('£', '').replace(',', ''))
                if cleaned_value_col3.is_integer():
                    col3_values.append(int(cleaned_value_col3))
            except ValueError:
                col3_values.append(pd.NA)
        
        # Calculate averages while ignoring N/A values
        avg_col2 = pd.Series(col2_values).dropna().mean()
        avg_col3 = pd.Series(col3_values).dropna().mean()
        return pd.Series([avg_col2, avg_col3])
    return pd.Series([pd.NA, pd.NA])

# Apply the function to find and average matching tuition fees
processed_df[['Home fees', 'Overseas fees']] = processed_df['Department'].apply(find_matching_data)

# Remove rows where either column contains NA or NaN values
processed_df.dropna(subset=['Home fees', 'Overseas fees'], inplace=True)

# Ensure all remaining values are integers
processed_df['Home fees'] = processed_df['Home fees'].astype(int)
processed_df['Overseas fees'] = processed_df['Overseas fees'].astype(int)

# Revert department names to original values
processed_df['Department'] = processed_df['Department'].map(original_to_transformed)

# Display the final DataFrame
processed_df

# Find the row index for the specific phrase and extract the fees and year
idx = data_df_one.index[data_df_one.iloc[:, 0].str.contains("Students commencing their degree in" or "New Entrants", na=False)].tolist()
if idx:
    target_idx = idx[0]  # Assume the first occurrence
    if "Undergraduate" in data_df_one.iloc[target_idx - 1, 0]:
        year_match = re.search(r'\b(\d{4})\b', data_df_one.iloc[target_idx, 0])
        year = year_match.group(0) if year_match else "Unknown"
        home_fee_match = re.search(r'£(\d{4})', data_df_one.iloc[target_idx, 1].replace(',', ''))
        overseas_fee_match = re.search(r'£(\d{5})', data_df_one.iloc[target_idx, 2].replace(',', ''))
        home_fee = int(home_fee_match.group(1)) if home_fee_match else None
        overseas_fee = int(overseas_fee_match.group(1)) if overseas_fee_match else None

# Add the extracted row to the top of the processed_df DataFrame
additional_row = pd.DataFrame({
    'Department': [f"All {year}"],
    'Program': ["UG Degree"],
    'Home fees': [home_fee],
    'Overseas fees': [overseas_fee]
})

# Append the additional row to the processed_df DataFrame
processed_df = pd.concat([additional_row, processed_df]).reset_index(drop=True)

# Display the final DataFrame including the new row
processed_df

/var/folders/w_/ccm86j116md1g5bmpdbhyv5r0000gn/T/ipykernel_69042/3268269658.py:31: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  data_df_one = pd.read_csv(output_csv_path, error_bad_lines=False, warn_bad_lines=True)
/var/folders/w_/ccm86j116md1g5bmpdbhyv5r0000gn/T/ipykernel_69042/3268269658.py:31: FutureWarning: The warn_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  data_df_one = pd.read_csv(output_csv_path, error_bad_lines=False, warn_bad_lines=True)
Skipping line 234: expected 5 fields, saw 8
Skipping line 235: expected 5 fields, saw 8
Skipping line 236: expected 5 fields, saw 8
Skipping line 237: expected 5 fields, saw 8
Skipping line 238: expected 5 fields, saw 8
Skipping line 239: expected 5 fields, saw 8
Skipping line 240: expected 5 fields, saw 9
Skipping line 241: expected 5 fields, saw 9
Skipping line 242: expected 5 fields, saw 9
Skipping line 243: expected 5 fields, saw 9
Skipping line 244: expected 5 fields, saw 9
Skipping line 245: expected 5 fields, saw 9
Skipping line 246: expected 5 fields, saw 9
Skipping line 247: expected 5 fields, saw 9
Skipping line 248: expected 5 fields, saw 9
Skipping line 249: expected 5 fields, saw 9
Skipping line 250: expected 5 fields, saw 9
Skipping line 251: expected 5 fields, saw 9
Skipping line 252: expected 5 fields, saw 9
Skipping line 253: expected 5 fields, saw 9
Skipping line 254: expected 5 fields, saw 9
Skipping line 255: expected 5 fields, saw 9
Skipping line 256: expected 5 fields, saw 9
Skipping line 257: expected 5 fields, saw 9
Skipping line 258: expected 5 fields, saw 9
Skipping line 259: expected 5 fields, saw 9
Skipping line 260: expected 5 fields, saw 9
Skipping line 261: expected 5 fields, saw 9

/var/folders/w_/ccm86j116md1g5bmpdbhyv5r0000gn/T/ipykernel_69042/3268269658.py:100: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  avg_col3 = pd.Series(col3_values).dropna().mean()

,Department,Program,Home fees,Overseas fees
0,All 2019,UG Degree,9250,19920
1,Accounting,PG Taught,26082,26358
2,Economic History,PG Taught,14088,21744
3,Economics,PG Taught,21917,22870
4,European Institute,PG Taught,19192,21744
5,Finance,PG Taught,27663,27870
6,Gender Studies,PG Taught,14088,21744
7,Geography And Environment,PG Taught,14088,21744
8,Health Policy,PG Taught,17512,24832
9,International Development,PG Taught,14088,21744
10,International Relations,PG Taught,18708,22536
11,Law School,PG Taught,16008,23328
12,Management,PG Taught,24575,24826
13,Mathematics,PG Taught,21072,25176
14,Media And Communication,PG Taught,19830,21744
15,Philosophy Logic And Scientific Method,PG Taught,17916,21744
16,Psychological And Behavioural Science,PG Taught,17280,21744
17,School of Public Policy,PG Taught,22294,23570
18,Sociology,PG Taught,14088,21744
19,Statistics,PG Taught,23400,26320
20,Anthropology,PG Taught,16640,21744
21,International History,PG Taught,14088,21744
22,Media And Communication,PG Taught,19830,21744
23,International..,PG Taught,19194,22994

In [12]:
## 2017

def extract_tables_from_pdf(pdf_path, output_csv_path):
    with pdfplumber.open(pdf_path) as pdf:
        all_tables = []
        # Iterate through each page of the PDF
        for page in pdf.pages:
            # Extract tables from the current page
            tables = page.extract_tables()
            for table in tables:
                all_tables.extend(table)  # Add the rows of the table to all_tables list
       
        # Write all extracted tables to a CSV file
        with open(output_csv_path, 'w', newline='') as csvfile:
            writer = csv.writer(csvfile)
            for row in all_tables:
                writer.writerow(row)

# Specify the path to your PDF and the output CSV file
pdf_path = 'Data/2017-18-Fees-Table.pdf'
output_csv_path = 'Data/2017_Fees.csv'

extract_tables_from_pdf(pdf_path, output_csv_path)


# Load the CSV file containing the tuition fees and program data
output_csv_path = 'Data/2017_Fees.csv'  
csv_path = 'Data/Florian_Wirtz_eigentlich_noch_was_mit_der_v2.csv'  

# Read the CSV files
data_df_one = pd.read_csv(output_csv_path, error_bad_lines=False, warn_bad_lines=True)
data_df = pd.read_csv(csv_path)

# Combine 'Department' and 'Program' into a new column for unique combinations
data_df['Dept_Program'] = data_df['Department'] + " " + data_df['Program']

# Get unique combinations
unique_dept_programs = data_df['Dept_Program'].unique()

# Dictionary to store original to transformed mappings
original_to_transformed = {}

# Process only Master's programs and adjust department names
processed_dept_programs = []
for combo in unique_dept_programs:
    if isinstance(combo, str):  # Check if the item is a string
        if "PG Taught" in combo:
            original_department = combo.replace(" PG Taught", "")
            transformed_department = original_department
            # Handle specific naming transformations
            if "And" in transformed_department:
                transformed_department = transformed_department.split("And")[0].strip()
            if transformed_department == "International History":
                transformed_department = "History"
            if transformed_department == "European Institute":
                transformed_department = "European"
            if transformed_department == "Law School" or transformed_department == "Law":
                transformed_department = "LLM"
            if transformed_department == "Philosophy Logic":
                transformed_department = "Philosophy"
            if transformed_department == "School of Public Policy":
                transformed_department = "Public Policy"
            if transformed_department == "Gender Studies":
                transformed_department = "Gender"
            if "Psychological" in transformed_department:
                transformed_department = "Psychology"
            
            # Save mapping
            original_to_transformed[transformed_department] = original_department
            processed_dept_programs.append(transformed_department)

# Create DataFrame from processed list
processed_df = pd.DataFrame(processed_dept_programs, columns=['Department'])

# Insert "Program" column with "PG Taught" as the value for all entries
processed_df.insert(1, 'Program', 'PG Taught')

def find_matching_data(dept_program):
    matches = data_df_one[data_df_one.iloc[:, 0].str.contains(dept_program, na=False)]
    if not matches.empty:
        col2_values = []
        col3_values = []
        for _, row in matches.iterrows():
            # Process and clean fee data for averaging
            try:
                cleaned_value_col2 = float(str(row[1]).replace('£', '').replace(',', ''))
                if cleaned_value_col2.is_integer():
                    col2_values.append(int(cleaned_value_col2))
            except ValueError:
                col2_values.append(pd.NA)
            try:
                cleaned_value_col3 = float(str(row[2]).replace('£', '').replace(',', ''))
                if cleaned_value_col3.is_integer():
                    col3_values.append(int(cleaned_value_col3))
            except ValueError:
                col3_values.append(pd.NA)
        
        # Calculate averages while ignoring N/A values
        avg_col2 = pd.Series(col2_values).dropna().mean()
        avg_col3 = pd.Series(col3_values).dropna().mean()
        return pd.Series([avg_col2, avg_col3])
    return pd.Series([pd.NA, pd.NA])

# Apply the function to find and average matching tuition fees
processed_df[['Home fees', 'Overseas fees']] = processed_df['Department'].apply(find_matching_data)

# Remove rows where either column contains NA or NaN values
processed_df.dropna(subset=['Home fees', 'Overseas fees'], inplace=True)

# Ensure all remaining values are integers
processed_df['Home fees'] = processed_df['Home fees'].astype(int)
processed_df['Overseas fees'] = processed_df['Overseas fees'].astype(int)

# Revert department names to original values
processed_df['Department'] = processed_df['Department'].map(original_to_transformed)

# Display the final DataFrame
processed_df

# Find the row index for the specific phrase and extract the fees and year
idx = data_df_one.index[data_df_one.iloc[:, 0].str.contains("Students commencing their degree in" or "New Entrants", na=False)].tolist()
if idx:
    target_idx = idx[0]  # Assume the first occurrence
    if "Undergraduate" in data_df_one.iloc[target_idx - 1, 0]:
        year_match = re.search(r'\b(\d{4})\b', data_df_one.iloc[target_idx, 0])
        year = year_match.group(0) if year_match else "Unknown"
        home_fee_match = re.search(r'£(\d{4})', data_df_one.iloc[target_idx, 1].replace(',', ''))
        overseas_fee_match = re.search(r'£(\d{5})', data_df_one.iloc[target_idx, 2].replace(',', ''))
        home_fee = int(home_fee_match.group(1)) if home_fee_match else None
        overseas_fee = int(overseas_fee_match.group(1)) if overseas_fee_match else None

# Add the extracted row to the top of the processed_df DataFrame
additional_row = pd.DataFrame({
    'Department': [f"All {year}"],
    'Program': ["UG Degree"],
    'Home fees': [home_fee],
    'Overseas fees': [overseas_fee]
})

# Append the additional row to the processed_df DataFrame
processed_df = pd.concat([additional_row, processed_df]).reset_index(drop=True)

# Display the final DataFrame including the new row
processed_df

/var/folders/w_/ccm86j116md1g5bmpdbhyv5r0000gn/T/ipykernel_69042/3885057974.py:31: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  data_df_one = pd.read_csv(output_csv_path, error_bad_lines=False, warn_bad_lines=True)
/var/folders/w_/ccm86j116md1g5bmpdbhyv5r0000gn/T/ipykernel_69042/3885057974.py:31: FutureWarning: The warn_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  data_df_one = pd.read_csv(output_csv_path, error_bad_lines=False, warn_bad_lines=True)

,Department,Program,Home fees,Overseas fees
0,All 2019,UG Degree,9250,19920
1,Accounting,PG Taught,24120,24372
2,Economic History,PG Taught,13008,20112
3,Economics,PG Taught,19607,21054
4,European Institute,PG Taught,17587,20112
5,Finance,PG Taught,25578,25767
6,Gender Studies,PG Taught,13008,20112
7,Geography And Environment,PG Taught,13008,20112
8,Government,PG Taught,13208,20312
9,Health Policy,PG Taught,15792,22584
10,International Development,PG Taught,16800,20112
11,International Relations,PG Taught,17292,20844
12,Law School,PG Taught,14784,21576
13,Management,PG Taught,22479,22491
14,Mathematics,PG Taught,19476,23280
15,Media And Communication,PG Taught,18336,20112
16,Philosophy Logic And Scientific Method,PG Taught,16560,20112
17,Psychological And Behavioural Science,PG Taught,15376,20112
18,School of Public Policy,PG Taught,21180,20112
19,Social Policy,PG Taught,13538,20178
20,Sociology,PG Taught,13008,20112
21,Statistics,PG Taught,17320,22224
22,Anthropology,PG Taught,14784,20112
23,International History,PG Taught,13008,20112
24,Media And Communication,PG Taught,18336,20112
25,International..,PG Taught,18409,21684

In [6]:
## 2021

def extract_tables_from_pdf(pdf_path, output_csv_path):
    with pdfplumber.open(pdf_path) as pdf:
        all_tables = []
        # Iterate through each page of the PDF
        for page in pdf.pages:
            # Extract tables from the current page
            tables = page.extract_tables()
            for table in tables:
                all_tables.extend(table)  # Add the rows of the table to all_tables list
       
        # Write all extracted tables to a CSV file
        with open(output_csv_path, 'w', newline='') as csvfile:
            writer = csv.writer(csvfile)
            for row in all_tables:
                writer.writerow(row)

# Specify the path to your PDF and the output CSV file
pdf_path = 'Data/ToF-3Aug21FinalComb.pdf'
output_csv_path = 'Data/2021_Fees.csv'

extract_tables_from_pdf(pdf_path, output_csv_path)


# Load the CSV file containing the tuition fees and program data
output_csv_path = 'Data/2021_Fees.csv'  
csv_path = 'Data/Florian_Wirtz_eigentlich_noch_was_mit_der_v2.csv'  

# Read the CSV files
data_df_one = pd.read_csv(output_csv_path, error_bad_lines=False, warn_bad_lines=True)
data_df = pd.read_csv(csv_path)

# Combine 'Department' and 'Program' into a new column for unique combinations
data_df['Dept_Program'] = data_df['Department'] + " " + data_df['Program']

# Get unique combinations
unique_dept_programs = data_df['Dept_Program'].unique()

# Dictionary to store original to transformed mappings
original_to_transformed = {}

# Process only Master's programs and adjust department names
processed_dept_programs = []
for combo in unique_dept_programs:
    if isinstance(combo, str):  # Check if the item is a string
        if "PG Taught" in combo:
            original_department = combo.replace(" PG Taught", "")
            transformed_department = original_department
            # Handle specific naming transformations
            if "And" in transformed_department:
                transformed_department = transformed_department.split("And")[0].strip()
            if transformed_department == "International History":
                transformed_department = "History"
            if transformed_department == "European Institute":
                transformed_department = "European"
            if transformed_department == "Law School" or transformed_department == "Law":
                transformed_department = "LLM"
            if transformed_department == "Philosophy Logic":
                transformed_department = "Philosophy"
            if transformed_department == "School of Public Policy":
                transformed_department = "Public Policy"
            if transformed_department == "Gender Studies":
                transformed_department = "Gender"
            if "Psychological" in transformed_department:
                transformed_department = "Psychology"
            
            # Save mapping
            original_to_transformed[transformed_department] = original_department
            processed_dept_programs.append(transformed_department)

# Create DataFrame from processed list
processed_df = pd.DataFrame(processed_dept_programs, columns=['Department'])

# Insert "Program" column with "PG Taught" as the value for all entries
processed_df.insert(1, 'Program', 'PG Taught')

def find_matching_data(dept_program):
    matches = data_df_one[data_df_one.iloc[:, 0].str.contains(dept_program, na=False)]
    if not matches.empty:
        col2_values = []
        col3_values = []
        for _, row in matches.iterrows():
            # Process and clean fee data for averaging
            try:
                cleaned_value_col2 = float(str(row[1]).replace('£', '').replace(',', ''))
                if cleaned_value_col2.is_integer():
                    col2_values.append(int(cleaned_value_col2))
            except ValueError:
                col2_values.append(pd.NA)
            try:
                cleaned_value_col3 = float(str(row[2]).replace('£', '').replace(',', ''))
                if cleaned_value_col3.is_integer():
                    col3_values.append(int(cleaned_value_col3))
            except ValueError:
                col3_values.append(pd.NA)
        
        # Calculate averages while ignoring N/A values
        avg_col2 = pd.Series(col2_values).dropna().mean()
        avg_col3 = pd.Series(col3_values).dropna().mean()
        return pd.Series([avg_col2, avg_col3])
    return pd.Series([pd.NA, pd.NA])

# Apply the function to find and average matching tuition fees
processed_df[['Home fees', 'Overseas fees']] = processed_df['Department'].apply(find_matching_data)

# Remove rows where either column contains NA or NaN values
processed_df.dropna(subset=['Home fees', 'Overseas fees'], inplace=True)

# Ensure all remaining values are integers
processed_df['Home fees'] = processed_df['Home fees'].astype(int)
processed_df['Overseas fees'] = processed_df['Overseas fees'].astype(int)

# Revert department names to original values
processed_df['Department'] = processed_df['Department'].map(original_to_transformed)

# Display the final DataFrame
processed_df

# Find the row index for the specific phrase and extract the fees and year
idx = data_df_one.index[data_df_one.iloc[:, 0].str.contains("Students commencing their degree in" or "New Entrants", na=False)].tolist()
if idx:
    target_idx = idx[0]  # Assume the first occurrence
    if "Undergraduate" in data_df_one.iloc[target_idx - 1, 0]:
        year_match = re.search(r'\b(\d{4})\b', data_df_one.iloc[target_idx, 0])
        year = year_match.group(0) if year_match else "Unknown"
        home_fee_match = re.search(r'£(\d{4})', data_df_one.iloc[target_idx, 1].replace(',', ''))
        overseas_fee_match = re.search(r'£(\d{5})', data_df_one.iloc[target_idx, 2].replace(',', ''))
        home_fee = int(home_fee_match.group(1)) if home_fee_match else None
        overseas_fee = int(overseas_fee_match.group(1)) if overseas_fee_match else None

# Add the extracted row to the top of the processed_df DataFrame
additional_row = pd.DataFrame({
    'Department': [f"All {year}"],
    'Program': ["UG Degree"],
    'Home fees': [home_fee],
    'Overseas fees': [overseas_fee]
})

# Append the additional row to the processed_df DataFrame
processed_df = pd.concat([additional_row, processed_df]).reset_index(drop=True)

# Display the final DataFrame including the new row
processed_df

/var/folders/w_/ccm86j116md1g5bmpdbhyv5r0000gn/T/ipykernel_69042/1359154016.py:31: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  data_df_one = pd.read_csv(output_csv_path, error_bad_lines=False, warn_bad_lines=True)
/var/folders/w_/ccm86j116md1g5bmpdbhyv5r0000gn/T/ipykernel_69042/1359154016.py:31: FutureWarning: The warn_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  data_df_one = pd.read_csv(output_csv_path, error_bad_lines=False, warn_bad_lines=True)
Skipping line 7: expected 3 fields, saw 5
Skipping line 8: expected 3 fields, saw 5
Skipping line 9: expected 3 fields, saw 5
Skipping line 10: expected 3 fields, saw 5
Skipping line 11: expected 3 fields, saw 5
Skipping line 12: expected 3 fields, saw 5
Skipping line 13: expected 3 fields, saw 5
Skipping line 14: expected 3 fields, saw 5
Skipping line 15: expected 3 fields, saw 5
Skipping line 16: expected 3 fields, saw 5
Skipping line 17: expected 3 fields, saw 5
Skipping line 18: expected 3 fields, saw 5
Skipping line 19: expected 3 fields, saw 5
Skipping line 20: expected 3 fields, saw 5
Skipping line 21: expected 3 fields, saw 5
Skipping line 22: expected 3 fields, saw 5
Skipping line 23: expected 3 fields, saw 5
Skipping line 24: expected 3 fields, saw 5
Skipping line 25: expected 3 fields, saw 5
Skipping line 26: expected 3 fields, saw 5
Skipping line 27: expected 3 fields, saw 5
Skipping line 28: expected 3 fields, saw 5
Skipping line 29: expected 3 fields, saw 5
Skipping line 30: expected 3 fields, saw 5
Skipping line 31: expected 3 fields, saw 5
Skipping line 32: expected 3 fields, saw 5
Skipping line 33: expected 3 fields, saw 5
Skipping line 34: expected 3 fields, saw 5
Skipping line 35: expected 3 fields, saw 5
Skipping line 36: expected 3 fields, saw 5
Skipping line 37: expected 3 fields, saw 5
Skipping line 38: expected 3 fields, saw 5
Skipping line 39: expected 3 fields, saw 5
Skipping line 40: expected 3 fields, saw 5
Skipping line 41: expected 3 fields, saw 5
Skipping line 42: expected 3 fields, saw 5
Skipping line 43: expected 3 fields, saw 5
Skipping line 44: expected 3 fields, saw 5
Skipping line 45: expected 3 fields, saw 5
Skipping line 46: expected 3 fields, saw 5
Skipping line 47: expected 3 fields, saw 5
Skipping line 48: expected 3 fields, saw 5
Skipping line 49: expected 3 fields, saw 5
Skipping line 50: expected 3 fields, saw 5
Skipping line 51: expected 3 fields, saw 5
Skipping line 52: expected 3 fields, saw 5
Skipping line 53: expected 3 fields, saw 5
Skipping line 54: expected 3 fields, saw 5
Skipping line 55: expected 3 fields, saw 5
Skipping line 56: expected 3 fields, saw 5
Skipping line 57: expected 3 fields, saw 5
Skipping line 58: expected 3 fields, saw 5
Skipping line 59: expected 3 fields, saw 5
Skipping line 60: expected 3 fields, saw 5
Skipping line 61: expected 3 fields, saw 5
Skipping line 62: expected 3 fields, saw 5
Skipping line 63: expected 3 fields, saw 5
Skipping line 65: expected 3 fields, saw 5
Skipping line 66: expected 3 fields, saw 5
Skipping line 67: expected 3 fields, saw 5
Skipping line 68: expected 3 fields, saw 5
Skipping line 69: expected 3 fields, saw 5
Skipping line 70: expected 3 fields, saw 5
Skipping line 71: expected 3 fields, saw 5
Skipping line 72: expected 3 fields, saw 5
Skipping line 73: expected 3 fields, saw 5
Skipping line 74: expected 3 fields, saw 5
Skipping line 75: expected 3 fields, saw 5
Skipping line 76: expected 3 fields, saw 5
Skipping line 77: expected 3 fields, saw 5
Skipping line 78: expected 3 fields, saw 5
Skipping line 79: expected 3 fields, saw 5
Skipping line 80: expected 3 fields, saw 5
Skipping line 81: expected 3 fields, saw 5
Skipping line 82: expected 3 fields, saw 5
Skipping line 83: expected 3 fields, saw 5
Skipping line 84: expected 3 fields, saw 5
Skipping line 85: expected 3 fields, saw 5
Skipping line 86: expected 3 fields, saw 5
Skipping line 87: expected 3 fields, saw 5
Skipping line 88: expected 3 fields, saw 5
Skipping line 89: expected 3 fields, saw 5
Skipping line 90: expected 3 fields, saw 5
Skipping line 91: expected 3 fields, saw 5
Skipping line 92: expected 3 fields, saw 5
Skipping line 93: expected 3 fields, saw 5
Skipping line 94: expected 3 fields, saw 5
Skipping line 95: expected 3 fields, saw 5
Skipping line 96: expected 3 fields, saw 5
Skipping line 97: expected 3 fields, saw 5
Skipping line 98: expected 3 fields, saw 5
Skipping line 99: expected 3 fields, saw 5
Skipping line 100: expected 3 fields, saw 5
Skipping line 101: expected 3 fields, saw 5
Skipping line 102: expected 3 fields, saw 5
Skipping line 103: expected 3 fields, saw 5
Skipping line 104: expected 3 fields, saw 5
Skipping line 105: expected 3 fields, saw 5
Skipping line 106: expected 3 fields, saw 5
Skipping line 107: expected 3 fields, saw 5
Skipping line 108: expected 3 fields, saw 5
Skipping line 109: expected 3 fields, saw 5
Skipping line 110: expected 3 fields, saw 5
Skipping line 111: expected 3 fields, saw 5
Skipping line 112: expected 3 fields, saw 5
Skipping line 113: expected 3 fields, saw 5
Skipping line 114: expected 3 fields, saw 5
Skipping line 115: expected 3 fields, saw 5
Skipping line 116: expected 3 fields, saw 5
Skipping line 117: expected 3 fields, saw 5
Skipping line 118: expected 3 fields, saw 5
Skipping line 119: expected 3 fields, saw 5
Skipping line 120: expected 3 fields, saw 5
Skipping line 121: expected 3 fields, saw 5
Skipping line 122: expected 3 fields, saw 5
Skipping line 123: expected 3 fields, saw 5
Skipping line 124: expected 3 fields, saw 5
Skipping line 125: expected 3 fields, saw 5
Skipping line 126: expected 3 fields, saw 5
Skipping line 127: expected 3 fields, saw 5
Skipping line 128: expected 3 fields, saw 5
Skipping line 129: expected 3 fields, saw 5
Skipping line 130: expected 3 fields, saw 5
Skipping line 131: expected 3 fields, saw 5
Skipping line 132: expected 3 fields, saw 5
Skipping line 133: expected 3 fields, saw 5
Skipping line 134: expected 3 fields, saw 5
Skipping line 135: expected 3 fields, saw 5
Skipping line 136: expected 3 fields, saw 5
Skipping line 137: expected 3 fields, saw 5
Skipping line 138: expected 3 fields, saw 5
Skipping line 139: expected 3 fields, saw 5
Skipping line 140: expected 3 fields, saw 5
Skipping line 141: expected 3 fields, saw 5
Skipping line 142: expected 3 fields, saw 5
Skipping line 143: expected 3 fields, saw 5
Skipping line 144: expected 3 fields, saw 5
Skipping line 145: expected 3 fields, saw 5
Skipping line 146: expected 3 fields, saw 5
Skipping line 147: expected 3 fields, saw 5
Skipping line 148: expected 3 fields, saw 5
Skipping line 149: expected 3 fields, saw 5
Skipping line 150: expected 3 fields, saw 5
Skipping line 151: expected 3 fields, saw 5
Skipping line 152: expected 3 fields, saw 5
Skipping line 153: expected 3 fields, saw 5
Skipping line 154: expected 3 fields, saw 5
Skipping line 155: expected 3 fields, saw 5
Skipping line 156: expected 3 fields, saw 5
Skipping line 157: expected 3 fields, saw 5
Skipping line 158: expected 3 fields, saw 5
Skipping line 159: expected 3 fields, saw 5
Skipping line 160: expected 3 fields, saw 5
Skipping line 161: expected 3 fields, saw 5
Skipping line 162: expected 3 fields, saw 5
Skipping line 163: expected 3 fields, saw 5
Skipping line 164: expected 3 fields, saw 5
Skipping line 165: expected 3 fields, saw 5
Skipping line 166: expected 3 fields, saw 5
Skipping line 167: expected 3 fields, saw 5
Skipping line 168: expected 3 fields, saw 5
Skipping line 169: expected 3 fields, saw 5
Skipping line 170: expected 3 fields, saw 5
Skipping line 171: expected 3 fields, saw 5
Skipping line 172: expected 3 fields, saw 5
Skipping line 173: expected 3 fields, saw 5
Skipping line 174: expected 3 fields, saw 5
Skipping line 175: expected 3 fields, saw 5
Skipping line 176: expected 3 fields, saw 5
Skipping line 177: expected 3 fields, saw 5
Skipping line 178: expected 3 fields, saw 5
Skipping line 179: expected 3 fields, saw 5
Skipping line 180: expected 3 fields, saw 5
Skipping line 181: expected 3 fields, saw 5
Skipping line 182: expected 3 fields, saw 5
Skipping line 183: expected 3 fields, saw 5
Skipping line 184: expected 3 fields, saw 5
Skipping line 185: expected 3 fields, saw 5
Skipping line 186: expected 3 fields, saw 5
Skipping line 187: expected 3 fields, saw 5
Skipping line 188: expected 3 fields, saw 5
Skipping line 189: expected 3 fields, saw 5
Skipping line 190: expected 3 fields, saw 5
Skipping line 191: expected 3 fields, saw 5
Skipping line 192: expected 3 fields, saw 5
Skipping line 193: expected 3 fields, saw 5
Skipping line 194: expected 3 fields, saw 5
Skipping line 195: expected 3 fields, saw 5
Skipping line 196: expected 3 fields, saw 5
Skipping line 197: expected 3 fields, saw 5
Skipping line 198: expected 3 fields, saw 5
Skipping line 199: expected 3 fields, saw 5
Skipping line 200: expected 3 fields, saw 5
Skipping line 201: expected 3 fields, saw 5
Skipping line 202: expected 3 fields, saw 5
Skipping line 203: expected 3 fields, saw 5
Skipping line 204: expected 3 fields, saw 5
Skipping line 205: expected 3 fields, saw 5
Skipping line 206: expected 3 fields, saw 5
Skipping line 207: expected 3 fields, saw 5
Skipping line 208: expected 3 fields, saw 5
Skipping line 209: expected 3 fields, saw 5
Skipping line 210: expected 3 fields, saw 5
Skipping line 211: expected 3 fields, saw 5
Skipping line 212: expected 3 fields, saw 5
Skipping line 213: expected 3 fields, saw 5
Skipping line 214: expected 3 fields, saw 5
Skipping line 215: expected 3 fields, saw 5
Skipping line 216: expected 3 fields, saw 5
Skipping line 217: expected 3 fields, saw 5
Skipping line 218: expected 3 fields, saw 5
Skipping line 219: expected 3 fields, saw 5
Skipping line 220: expected 3 fields, saw 5
Skipping line 221: expected 3 fields, saw 5
Skipping line 222: expected 3 fields, saw 5
Skipping line 223: expected 3 fields, saw 5
Skipping line 224: expected 3 fields, saw 5
Skipping line 225: expected 3 fields, saw 5
Skipping line 226: expected 3 fields, saw 5
Skipping line 227: expected 3 fields, saw 5
Skipping line 228: expected 3 fields, saw 5
Skipping line 229: expected 3 fields, saw 5
Skipping line 230: expected 3 fields, saw 5
Skipping line 231: expected 3 fields, saw 5
Skipping line 232: expected 3 fields, saw 5
Skipping line 233: expected 3 fields, saw 5
Skipping line 234: expected 3 fields, saw 5
Skipping line 235: expected 3 fields, saw 5
Skipping line 236: expected 3 fields, saw 5
Skipping line 237: expected 3 fields, saw 5
Skipping line 238: expected 3 fields, saw 5
Skipping line 239: expected 3 fields, saw 5
Skipping line 240: expected 3 fields, saw 5
Skipping line 241: expected 3 fields, saw 5
Skipping line 242: expected 3 fields, saw 5
Skipping line 243: expected 3 fields, saw 5
Skipping line 244: expected 3 fields, saw 5
Skipping line 245: expected 3 fields, saw 5
Skipping line 246: expected 3 fields, saw 5
Skipping line 247: expected 3 fields, saw 5
Skipping line 248: expected 3 fields, saw 5
Skipping line 249: expected 3 fields, saw 5
Skipping line 250: expected 3 fields, saw 5
Skipping line 251: expected 3 fields, saw 5
Skipping line 252: expected 3 fields, saw 5
Skipping line 253: expected 3 fields, saw 5
Skipping line 254: expected 3 fields, saw 5
Skipping line 255: expected 3 fields, saw 5
Skipping line 256: expected 3 fields, saw 5
Skipping line 257: expected 3 fields, saw 5
Skipping line 258: expected 3 fields, saw 5
Skipping line 259: expected 3 fields, saw 5
Skipping line 260: expected 3 fields, saw 5
Skipping line 261: expected 3 fields, saw 5
Skipping line 262: expected 3 fields, saw 5
Skipping line 263: expected 3 fields, saw 5
Skipping line 264: expected 3 fields, saw 5
Skipping line 265: expected 3 fields, saw 5
Skipping line 266: expected 3 fields, saw 5
Skipping line 267: expected 3 fields, saw 5
Skipping line 268: expected 3 fields, saw 5
Skipping line 269: expected 3 fields, saw 5
Skipping line 270: expected 3 fields, saw 5
Skipping line 271: expected 3 fields, saw 5

  Department    Program  Home fees  Overseas fees
0   All 2019  UG Degree       9250          19920

In [11]:
import pandas as pd
import pdfplumber
import csv
import re

def extract_tables_from_pdf(pdf_path, output_csv_path):
    with pdfplumber.open(pdf_path) as pdf:
        all_tables = []
        for page in pdf.pages:
            tables = page.extract_tables()
            for table in tables:
                # Ensuring that each row in the table has the same number of columns
                if all(len(row) == len(tables[0][0]) for row in table):
                    all_tables.extend(table)
                else:
                    print("Skipped a malformed table")
        with open(output_csv_path, 'w', newline='') as csvfile:
            writer = csv.writer(csvfile)
            for row in all_tables:
                writer.writerow(row)

def process_csv_data(output_csv_path):
    try:
        # Attempt to read the CSV with a fixed number of columns to avoid skipping lines
        data_df_one = pd.read_csv(output_csv_path, header=None, names=['Column1', 'Column2', 'Column3'], on_bad_lines='warn')
    except Exception as e:
        print(f"Failed to read CSV: {str(e)}")

    return data_df_one

# Specify paths
pdf_path = 'Data/ToF-3Aug21FinalComb.pdf'
output_csv_path = 'Data/2021_Fees.csv'

# Extract tables from PDF
extract_tables_from_pdf(pdf_path, output_csv_path)

# Process CSV data
data_df_one = process_csv_data(output_csv_path)

# Debugging: Output the first few lines to check if they are read correctly
print(data_df_one.head())

Skipped a malformed table
Skipped a malformed table
                                             Column1    Column2  \
0                        1\nUndergraduate Programmes        NaN
1                                                NaN  Full time
2                                                NaN       Home
3  Undergraduate first degree - New entrants in 2...        NaN
4  Home students (does not include EU students) c...   £9,250 2

                    Column3
0                       NaN
1                       NaN
2  Overseas\n(including EU)
3                       NaN
4                       NaN

Skipping line 7: expected 3 fields, saw 5
Skipping line 8: expected 3 fields, saw 5
Skipping line 9: expected 3 fields, saw 5
Skipping line 10: expected 3 fields, saw 5
Skipping line 11: expected 3 fields, saw 5
Skipping line 12: expected 3 fields, saw 5
Skipping line 13: expected 3 fields, saw 5
Skipping line 14: expected 3 fields, saw 5
Skipping line 15: expected 3 fields, saw 5
Skipping line 16: expected 3 fields, saw 5
Skipping line 17: expected 3 fields, saw 5
Skipping line 18: expected 3 fields, saw 5
Skipping line 19: expected 3 fields, saw 5
Skipping line 20: expected 3 fields, saw 5
Skipping line 21: expected 3 fields, saw 5
Skipping line 22: expected 3 fields, saw 5
Skipping line 23: expected 3 fields, saw 5
Skipping line 24: expected 3 fields, saw 5
Skipping line 25: expected 3 fields, saw 5
Skipping line 26: expected 3 fields, saw 5
Skipping line 27: expected 3 fields, saw 5
Skipping line 28: expected 3 fields, saw 5
Skipping line 29: expected 3 fields, saw 5
Skipping line 30: expected 3 fields, saw 5
Skipping line 31: expected 3 fields, saw 5
Skipping line 32: expected 3 fields, saw 5
Skipping line 33: expected 3 fields, saw 5
Skipping line 34: expected 3 fields, saw 5
Skipping line 35: expected 3 fields, saw 5
Skipping line 36: expected 3 fields, saw 5
Skipping line 37: expected 3 fields, saw 5
Skipping line 38: expected 3 fields, saw 5
Skipping line 39: expected 3 fields, saw 5
Skipping line 40: expected 3 fields, saw 5
Skipping line 41: expected 3 fields, saw 5
Skipping line 42: expected 3 fields, saw 5
Skipping line 43: expected 3 fields, saw 5
Skipping line 44: expected 3 fields, saw 5
Skipping line 45: expected 3 fields, saw 5
Skipping line 46: expected 3 fields, saw 5
Skipping line 47: expected 3 fields, saw 5
Skipping line 48: expected 3 fields, saw 5
Skipping line 49: expected 3 fields, saw 5
Skipping line 50: expected 3 fields, saw 5
Skipping line 51: expected 3 fields, saw 5
Skipping line 52: expected 3 fields, saw 5
Skipping line 53: expected 3 fields, saw 5
Skipping line 54: expected 3 fields, saw 5
Skipping line 55: expected 3 fields, saw 5
Skipping line 56: expected 3 fields, saw 5
Skipping line 57: expected 3 fields, saw 5
Skipping line 58: expected 3 fields, saw 5
Skipping line 59: expected 3 fields, saw 5
Skipping line 60: expected 3 fields, saw 5
Skipping line 61: expected 3 fields, saw 5
Skipping line 62: expected 3 fields, saw 5
Skipping line 63: expected 3 fields, saw 5
Skipping line 64: expected 3 fields, saw 5
Skipping line 65: expected 3 fields, saw 5
Skipping line 66: expected 3 fields, saw 5
Skipping line 67: expected 3 fields, saw 5
Skipping line 68: expected 3 fields, saw 5
Skipping line 69: expected 3 fields, saw 5
Skipping line 70: expected 3 fields, saw 5
Skipping line 71: expected 3 fields, saw 5
Skipping line 72: expected 3 fields, saw 5
Skipping line 73: expected 3 fields, saw 5
Skipping line 74: expected 3 fields, saw 5
Skipping line 75: expected 3 fields, saw 5
Skipping line 76: expected 3 fields, saw 5
Skipping line 77: expected 3 fields, saw 5
Skipping line 78: expected 3 fields, saw 5
Skipping line 79: expected 3 fields, saw 5
Skipping line 80: expected 3 fields, saw 5
Skipping line 81: expected 3 fields, saw 5
Skipping line 82: expected 3 fields, saw 5
Skipping line 83: expected 3 fields, saw 5
Skipping line 84: expected 3 fields, saw 5
Skipping line 85: expected 3 fields, saw 5
Skipping line 86: expected 3 fields, saw 5
Skipping line 87: expected 3 fields, saw 5
Skipping line 88: expected 3 fields, saw 5
Skipping line 89: expected 3 fields, saw 5
Skipping line 90: expected 3 fields, saw 5
Skipping line 91: expected 3 fields, saw 5
Skipping line 92: expected 3 fields, saw 5
Skipping line 93: expected 3 fields, saw 5
Skipping line 94: expected 3 fields, saw 5
Skipping line 95: expected 3 fields, saw 5
Skipping line 96: expected 3 fields, saw 5
Skipping line 97: expected 3 fields, saw 5
Skipping line 98: expected 3 fields, saw 5
Skipping line 99: expected 3 fields, saw 5
Skipping line 100: expected 3 fields, saw 5
Skipping line 101: expected 3 fields, saw 5
Skipping line 102: expected 3 fields, saw 5
Skipping line 103: expected 3 fields, saw 5
Skipping line 104: expected 3 fields, saw 5
Skipping line 105: expected 3 fields, saw 5
Skipping line 106: expected 3 fields, saw 5
Skipping line 107: expected 3 fields, saw 5
Skipping line 108: expected 3 fields, saw 5
Skipping line 109: expected 3 fields, saw 5
Skipping line 110: expected 3 fields, saw 5
Skipping line 111: expected 3 fields, saw 5
Skipping line 112: expected 3 fields, saw 5
Skipping line 113: expected 3 fields, saw 5
Skipping line 114: expected 3 fields, saw 5
Skipping line 115: expected 3 fields, saw 5
Skipping line 116: expected 3 fields, saw 5
Skipping line 117: expected 3 fields, saw 5
Skipping line 118: expected 3 fields, saw 5
Skipping line 119: expected 3 fields, saw 5
Skipping line 120: expected 3 fields, saw 5
Skipping line 121: expected 3 fields, saw 5
Skipping line 122: expected 3 fields, saw 5
Skipping line 123: expected 3 fields, saw 5
Skipping line 124: expected 3 fields, saw 5
Skipping line 125: expected 3 fields, saw 5
Skipping line 126: expected 3 fields, saw 5
Skipping line 127: expected 3 fields, saw 5
Skipping line 128: expected 3 fields, saw 5
Skipping line 129: expected 3 fields, saw 5
Skipping line 130: expected 3 fields, saw 5
Skipping line 131: expected 3 fields, saw 5
Skipping line 132: expected 3 fields, saw 5
Skipping line 133: expected 3 fields, saw 5
Skipping line 134: expected 3 fields, saw 5
Skipping line 135: expected 3 fields, saw 5
Skipping line 136: expected 3 fields, saw 5
Skipping line 137: expected 3 fields, saw 5
Skipping line 138: expected 3 fields, saw 5
Skipping line 139: expected 3 fields, saw 5
Skipping line 140: expected 3 fields, saw 5
Skipping line 141: expected 3 fields, saw 5
Skipping line 142: expected 3 fields, saw 5
Skipping line 143: expected 3 fields, saw 5
Skipping line 144: expected 3 fields, saw 5
Skipping line 145: expected 3 fields, saw 5
Skipping line 146: expected 3 fields, saw 5
Skipping line 147: expected 3 fields, saw 5
Skipping line 148: expected 3 fields, saw 5
Skipping line 149: expected 3 fields, saw 5
Skipping line 150: expected 3 fields, saw 5
Skipping line 151: expected 3 fields, saw 5
Skipping line 152: expected 3 fields, saw 5
Skipping line 153: expected 3 fields, saw 5
Skipping line 154: expected 3 fields, saw 5
Skipping line 155: expected 3 fields, saw 5
Skipping line 156: expected 3 fields, saw 5
Skipping line 157: expected 3 fields, saw 5
Skipping line 158: expected 3 fields, saw 5
Skipping line 159: expected 3 fields, saw 5
Skipping line 160: expected 3 fields, saw 5
Skipping line 161: expected 3 fields, saw 5
Skipping line 162: expected 3 fields, saw 5
Skipping line 163: expected 3 fields, saw 5
Skipping line 164: expected 3 fields, saw 5
Skipping line 165: expected 3 fields, saw 5
Skipping line 166: expected 3 fields, saw 5
Skipping line 167: expected 3 fields, saw 5
Skipping line 168: expected 3 fields, saw 5
Skipping line 169: expected 3 fields, saw 5
Skipping line 170: expected 3 fields, saw 5
Skipping line 171: expected 3 fields, saw 5
Skipping line 172: expected 3 fields, saw 5
Skipping line 173: expected 3 fields, saw 5
Skipping line 174: expected 3 fields, saw 5
Skipping line 175: expected 3 fields, saw 5
Skipping line 176: expected 3 fields, saw 5
Skipping line 177: expected 3 fields, saw 5
Skipping line 178: expected 3 fields, saw 5
Skipping line 179: expected 3 fields, saw 5
Skipping line 180: expected 3 fields, saw 5
Skipping line 181: expected 3 fields, saw 5
Skipping line 182: expected 3 fields, saw 5
Skipping line 183: expected 3 fields, saw 5
Skipping line 184: expected 3 fields, saw 5
Skipping line 185: expected 3 fields, saw 5
Skipping line 186: expected 3 fields, saw 5
Skipping line 187: expected 3 fields, saw 5
Skipping line 188: expected 3 fields, saw 5
Skipping line 189: expected 3 fields, saw 5
Skipping line 190: expected 3 fields, saw 5
Skipping line 191: expected 3 fields, saw 5
Skipping line 192: expected 3 fields, saw 5
Skipping line 193: expected 3 fields, saw 5
Skipping line 194: expected 3 fields, saw 5
Skipping line 195: expected 3 fields, saw 5
Skipping line 196: expected 3 fields, saw 5
Skipping line 197: expected 3 fields, saw 5
Skipping line 198: expected 3 fields, saw 5
Skipping line 199: expected 3 fields, saw 5
Skipping line 200: expected 3 fields, saw 5
Skipping line 201: expected 3 fields, saw 5
Skipping line 202: expected 3 fields, saw 5
Skipping line 203: expected 3 fields, saw 5
Skipping line 204: expected 3 fields, saw 5
Skipping line 205: expected 3 fields, saw 5
Skipping line 206: expected 3 fields, saw 5
Skipping line 207: expected 3 fields, saw 5
Skipping line 208: expected 3 fields, saw 5
Skipping line 209: expected 3 fields, saw 5
Skipping line 210: expected 3 fields, saw 5
Skipping line 211: expected 3 fields, saw 5
Skipping line 212: expected 3 fields, saw 5
Skipping line 213: expected 3 fields, saw 5
Skipping line 214: expected 3 fields, saw 5
Skipping line 215: expected 3 fields, saw 5
Skipping line 216: expected 3 fields, saw 5
Skipping line 217: expected 3 fields, saw 5
Skipping line 218: expected 3 fields, saw 5
Skipping line 219: expected 3 fields, saw 5
Skipping line 220: expected 3 fields, saw 5
Skipping line 221: expected 3 fields, saw 5
Skipping line 222: expected 3 fields, saw 5
Skipping line 223: expected 3 fields, saw 5
Skipping line 224: expected 3 fields, saw 5
Skipping line 225: expected 3 fields, saw 5
Skipping line 226: expected 3 fields, saw 5
Skipping line 227: expected 3 fields, saw 5
Skipping line 228: expected 3 fields, saw 5
Skipping line 229: expected 3 fields, saw 5
Skipping line 230: expected 3 fields, saw 5
Skipping line 231: expected 3 fields, saw 5
Skipping line 232: expected 3 fields, saw 5
Skipping line 233: expected 3 fields, saw 5
Skipping line 234: expected 3 fields, saw 5
Skipping line 235: expected 3 fields, saw 5
Skipping line 236: expected 3 fields, saw 5
Skipping line 237: expected 3 fields, saw 5
Skipping line 238: expected 3 fields, saw 5
Skipping line 239: expected 3 fields, saw 5
Skipping line 240: expected 3 fields, saw 5
Skipping line 241: expected 3 fields, saw 5
Skipping line 242: expected 3 fields, saw 5
Skipping line 243: expected 3 fields, saw 5
Skipping line 244: expected 3 fields, saw 5
Skipping line 245: expected 3 fields, saw 5
Skipping line 246: expected 3 fields, saw 5
Skipping line 247: expected 3 fields, saw 5
Skipping line 248: expected 3 fields, saw 5
Skipping line 249: expected 3 fields, saw 5
Skipping line 250: expected 3 fields, saw 5
Skipping line 251: expected 3 fields, saw 5
Skipping line 252: expected 3 fields, saw 5
Skipping line 253: expected 3 fields, saw 5
Skipping line 254: expected 3 fields, saw 5
Skipping line 255: expected 3 fields, saw 5
Skipping line 256: expected 3 fields, saw 5
Skipping line 257: expected 3 fields, saw 5
Skipping line 258: expected 3 fields, saw 5
Skipping line 259: expected 3 fields, saw 5
Skipping line 260: expected 3 fields, saw 5
Skipping line 261: expected 3 fields, saw 5
Skipping line 262: expected 3 fields, saw 5